USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SUBSIDIARY_MASTER_HISTORY]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SUBSIDIARY_MASTER_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FId] [bigint] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BroadcasterName] [varchar](50) NOT NULL,
	[BroadcasterPrice] [float] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
	[BroadcasterId] [bigint] NOT NULL,
 CONSTRAINT [PK_SMS_SUBSIDIARY_MASTER_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER_HISTORY] ADD  CONSTRAINT [DF__SMS_SUBSI__Inser__7639D7D7]  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER_HISTORY] ADD  CONSTRAINT [DF__SMS_SUBSI__Previ__772DFC10]  DEFAULT ((0)) FOR [PreviousId]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_SMS_SUBSIDIARY_MASTER_HISTORY_SMS_BROADCASTER] FOREIGN KEY([BroadcasterId])
REFERENCES [dbo].[SMS_BROADCASTER] ([ID])
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER_HISTORY] CHECK CONSTRAINT [FK_SMS_SUBSIDIARY_MASTER_HISTORY_SMS_BROADCASTER]
GO
