USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_PAIRINGUPLOAD]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_PAIRINGUPLOAD](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCNO] [varchar](50) NOT NULL,
	[STBNO] [varchar](50) NOT NULL,
	[IsError] [bit] NOT NULL,
	[ErrorMessage] [varchar](350) NULL,
	[UploadLogId] [bigint] NOT NULL,
 CONSTRAINT [PK_SMS_PAIRINGUPLOAD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_PAIRINGUPLOAD] ON 

INSERT [dbo].[SMS_PAIRINGUPLOAD] ([Id], [SCNO], [STBNO], [IsError], [ErrorMessage], [UploadLogId]) VALUES (1, N'8006064231115323', N'23117080035152', 1, N'Smartcard Already Paired|STB Already Paired', 3)
INSERT [dbo].[SMS_PAIRINGUPLOAD] ([Id], [SCNO], [STBNO], [IsError], [ErrorMessage], [UploadLogId]) VALUES (2, N'8006064231081780', N'23117160003914', 1, N'Smartcard Already Paired|STB Already Paired', 3)
INSERT [dbo].[SMS_PAIRINGUPLOAD] ([Id], [SCNO], [STBNO], [IsError], [ErrorMessage], [UploadLogId]) VALUES (3, N'8006064229523108', N'23117160000787', 0, N'Ok', 3)
SET IDENTITY_INSERT [dbo].[SMS_PAIRINGUPLOAD] OFF
GO
ALTER TABLE [dbo].[SMS_PAIRINGUPLOAD] ADD  CONSTRAINT [DF_SMS_PAIRINGUPLOAD_IsError]  DEFAULT ((1)) FOR [IsError]
GO
ALTER TABLE [dbo].[SMS_PAIRINGUPLOAD]  WITH NOCHECK ADD  CONSTRAINT [FK_SMS_PAIRINGUPLOAD_SMS_FILEUPLOADLOG] FOREIGN KEY([UploadLogId])
REFERENCES [dbo].[SMS_FILEUPLOADLOG] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_PAIRINGUPLOAD] CHECK CONSTRAINT [FK_SMS_PAIRINGUPLOAD_SMS_FILEUPLOADLOG]
GO
