USE [MNSMS]
GO
/****** Object:  Table [dbo].[UPLOADED_SOCIETY_TABLE]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPLOADED_SOCIETY_TABLE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SocietyName] [varchar](150) NOT NULL,
	[SocietyCode] [varchar](60) NOT NULL,
	[AreaCode] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATUS_REMARK] [varchar](8000) NULL,
	[SESSION_ID] [bigint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UPLOADED_SOCIETY_TABLE] ADD  CONSTRAINT [DF_UPLOADED_SOCIETY_TABLE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
