USE [MNSMS]
GO
/****** Object:  Table [dbo].[CONAX_CASMSG_PARAM]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONAX_CASMSG_PARAM](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Param] [varchar](150) NOT NULL,
	[Value] [varchar](2050) NOT NULL,
	[MsgId] [bigint] NOT NULL,
 CONSTRAINT [PK_CONAX_CASMSG_PARAM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
