USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_PACKAGEINSCHEME]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_PACKAGEINSCHEME](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PackageId] [bigint] NOT NULL,
	[IsAlacarte] [bit] NOT NULL,
	[ConnectionId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_PACKAGEINSCHEME] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_PACKAGEINSCHEME]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_PACKAGEINSCHEME] ON [dbo].[SMS_PACKAGEINSCHEME]
(
	[PackageId] ASC,
	[ConnectionId] ASC,
	[IsAlacarte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_PACKAGEINSCHEME] ADD  CONSTRAINT [DF_SMS_PACKAGEINSCHEME_IsAlacate]  DEFAULT ((0)) FOR [IsAlacarte]
GO
ALTER TABLE [dbo].[SMS_PACKAGEINSCHEME] ADD  CONSTRAINT [DF_SMS_PACKAGEINSCHEME_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_PACKAGEINSCHEME]  WITH CHECK ADD  CONSTRAINT [FK_SMS_PACKAGEINSCHEME_SMS_CONNECTIONSCHEME] FOREIGN KEY([ConnectionId])
REFERENCES [dbo].[SMS_CONNECTIONSCHEME] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_PACKAGEINSCHEME] CHECK CONSTRAINT [FK_SMS_PACKAGEINSCHEME_SMS_CONNECTIONSCHEME]
GO
