USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_D_PAYMENTCREDITS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_D_PAYMENTCREDITS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[NoOfMonths] [int] NOT NULL,
	[StartingMonth] [date] NOT NULL,
	[RecieptId] [varchar](50) NULL,
	[RecieptDate] [date] NULL,
	[ReasonId] [bigint] NOT NULL,
	[Description] [varchar](250) NULL,
	[isAdvancePayment] [bit] NOT NULL,
	[IsAdjusted] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_D_PAYMENTCREDITS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDITS] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDITS_SubscriberId]  DEFAULT ((0)) FOR [SubscriberId]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDITS] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDITS_isAdvancePayment]  DEFAULT ((0)) FOR [isAdvancePayment]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDITS] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDITS_IsAdjusted]  DEFAULT ((0)) FOR [IsAdjusted]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDITS] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDITS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDITS]  WITH CHECK ADD  CONSTRAINT [FK_SMS_D_PAYMENTCREDITS_SMS_SUBSCRIBERACCOUNTS] FOREIGN KEY([AccountId])
REFERENCES [dbo].[SMS_SUBSCRIBERACCOUNTS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDITS] CHECK CONSTRAINT [FK_SMS_D_PAYMENTCREDITS_SMS_SUBSCRIBERACCOUNTS]
GO
