USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[ConnectionId] [bigint] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[ApplicableRate] [bit] NOT NULL,
	[TimeShift] [bit] NOT NULL,
	[PairingId] [bigint] NOT NULL,
	[BillingSMonth] [date] NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[DeactivationDate] [date] NULL,
	[ExpiryDate] [date] NOT NULL,
	[Description] [varchar](250) NULL,
	[ActionTaken] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[isblacklisted] [bit] NULL,
	[blacklistfilename] [varchar](150) NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_SMS_SUBSCRIBERACCOUNTS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY] ON 

GO
SET IDENTITY_INSERT [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_14_842590190__K2_K25D_K1D_K3_K4_K5_K6_K7_K8_K9_K10_K11_K12_K13_K14_K15_20_21_23_24_]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_14_842590190__K2_K25D_K1D_K3_K4_K5_K6_K7_K8_K9_K10_K11_K12_K13_K14_K15_20_21_23_24_] ON [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY]
(
	[FID] ASC,
	[InsertedOn] DESC,
	[Id] DESC,
	[SubscriberId] ASC,
	[ConnectionId] ASC,
	[IsPrimary] ASC,
	[ApplicableRate] ASC,
	[TimeShift] ASC,
	[PairingId] ASC,
	[BillingSMonth] ASC,
	[ActivationDate] ASC,
	[DeactivationDate] ASC,
	[ExpiryDate] ASC,
	[Description] ASC,
	[ActionTaken] ASC,
	[Status] ASC
)
INCLUDE([Deleted],[Remark],[isblacklisted],[blacklistfilename],[InsertedBy],[DMLAction],[DMLComments]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_7_842590190__K2_K1]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_7_842590190__K2_K1] ON [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY]
(
	[FID] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_7_842590190__K2_K20]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_7_842590190__K2_K20] ON [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY]
(
	[FID] ASC,
	[Deleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_7_842590190__K20_K2_K8_K7_K3_K4_K6_K9_K10_K11_K5_K13_K14_K15_K16_K17_1_18_19]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_SUBSCRIBERACCOUNTS_HISTORY_7_842590190__K20_K2_K8_K7_K3_K4_K6_K9_K10_K11_K5_K13_K14_K15_K16_K17_1_18_19] ON [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY]
(
	[Deleted] ASC,
	[FID] ASC,
	[PairingId] ASC,
	[TimeShift] ASC,
	[SubscriberId] ASC,
	[ConnectionId] ASC,
	[ApplicableRate] ASC,
	[BillingSMonth] ASC,
	[ActivationDate] ASC,
	[DeactivationDate] ASC,
	[IsPrimary] ASC,
	[Description] ASC,
	[ActionTaken] ASC,
	[Status] ASC,
	[CreatedOn] ASC,
	[CreatedBy] ASC
)
INCLUDE([Id],[UpdatedOn],[UpdatedBy]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERACCOUNTS_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
