USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_ACC_ASCHDEL]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_ACC_ASCHDEL](
	[AccountId] [bigint] NOT NULL,
	[ADATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
