USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SMARTCARDS]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SMARTCARDS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SmartcardNo] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[BrandId] [bigint] NOT NULL,
	[UploadLogId] [bigint] NOT NULL,
	[DocExtension] [varchar](6) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[IsLocked] [bit] NOT NULL,
	[LockedOn] [datetime] NULL,
	[LockedFrom] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[PONumber] [varchar](15) NULL,
	[PODate] [date] NULL,
	[InvNumber] [varchar](15) NULL,
	[InvDate] [date] NULL,
 CONSTRAINT [PK_SMS_SMARTCARDS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_SMARTCARDS] ON 

INSERT [dbo].[SMS_SMARTCARDS] ([Id], [SmartcardNo], [Status], [BrandId], [UploadLogId], [DocExtension], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [PONumber], [PODate], [InvNumber], [InvDate]) VALUES (1, N'8006064231115323', 1, 1, 0, NULL, CAST(N'2022-08-08T12:58:01.743' AS DateTime), 1, NULL, NULL, 0, NULL, 0, CAST(N'2022-08-08T12:58:32.850' AS DateTime), N'dt3g93tpcve8vgla1vjlr2tir2', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SMS_SMARTCARDS] ([Id], [SmartcardNo], [Status], [BrandId], [UploadLogId], [DocExtension], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [PONumber], [PODate], [InvNumber], [InvDate]) VALUES (2, N'8006064231081780', 1, 1, 0, NULL, CAST(N'2022-08-17T17:46:34.100' AS DateTime), 1, NULL, NULL, 0, NULL, 0, CAST(N'2022-08-17T17:47:10.620' AS DateTime), N'dt3g93tpcve8vgla1vjlr2tir2', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SMS_SMARTCARDS] ([Id], [SmartcardNo], [Status], [BrandId], [UploadLogId], [DocExtension], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [PONumber], [PODate], [InvNumber], [InvDate]) VALUES (3, N'8006064229523108', 1, 1, 1, NULL, CAST(N'2022-08-29T16:36:24.110' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SMS_SMARTCARDS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_SMARTCARDS_5_964250540__K1_K2]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_SMARTCARDS_5_964250540__K1_K2] ON [dbo].[SMS_SMARTCARDS]
(
	[Id] ASC,
	[SmartcardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_SMARTCARDS]    Script Date: 2023-11-10 06:14:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SMS_SMARTCARDS] ON [dbo].[SMS_SMARTCARDS]
(
	[SmartcardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS] ADD  CONSTRAINT [DF_SMS_SMARTCARDS_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS] ADD  CONSTRAINT [DF_SMS_SMARTCARDS_BrandId]  DEFAULT ((0)) FOR [BrandId]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS] ADD  CONSTRAINT [DF_SMS_SMARTCARDS_UploadLogId]  DEFAULT ((0)) FOR [UploadLogId]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS] ADD  CONSTRAINT [DF_SMS_SMARTCARDS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS] ADD  CONSTRAINT [DF_SMS_SMARTCARDS_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS]  WITH NOCHECK ADD  CONSTRAINT [FK_SMS_SMARTCARDS_SMS_SMARTCARDS] FOREIGN KEY([BrandId])
REFERENCES [dbo].[SMS_STBSCBRAND] ([Id])
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS] CHECK CONSTRAINT [FK_SMS_SMARTCARDS_SMS_SMARTCARDS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=Active
2=Inactive
3=Faulty
4=BlackListed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_SMARTCARDS', @level2type=N'COLUMN',@level2name=N'Status'
GO
