USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CASMSG_PARAM]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CASMSG_PARAM](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Param] [varchar](150) NOT NULL,
	[Value] [varchar](2050) NOT NULL,
	[MsgId] [bigint] NOT NULL,
 CONSTRAINT [PK_SMS_CASMSG_PARAM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_CASMSG_PARAM] ON 

INSERT [dbo].[SMS_CASMSG_PARAM] ([Id], [Param], [Value], [MsgId]) VALUES (1, N'channelId', N'', 1)
INSERT [dbo].[SMS_CASMSG_PARAM] ([Id], [Param], [Value], [MsgId]) VALUES (2, N'content', N'', 1)
INSERT [dbo].[SMS_CASMSG_PARAM] ([Id], [Param], [Value], [MsgId]) VALUES (3, N'listchannels', N'', 1)
GO
SET IDENTITY_INSERT [dbo].[SMS_CASMSG_PARAM] OFF
GO
