USE [MNSMS]
GO
/****** Object:  Table [dbo].[PRP_BOUQUE_ASSETS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRP_BOUQUE_ASSETS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BouqueId] [bigint] NOT NULL,
	[PackageId] [bigint] NULL,
	[ChannelId] [bigint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[RioCntType] [int] NOT NULL,
 CONSTRAINT [PK_PRP_BOUQUE_ASSETS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE_ASSETS] ON 

INSERT [dbo].[PRP_BOUQUE_ASSETS] ([Id], [BouqueId], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [RioCntType]) VALUES (1, 1, NULL, 209, CAST(N'2023-04-25T15:30:43.220' AS DateTime), 1, NULL, NULL, 0, N'ZEE ACTION', 1)
INSERT [dbo].[PRP_BOUQUE_ASSETS] ([Id], [BouqueId], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [RioCntType]) VALUES (2, 2, NULL, 210, CAST(N'2023-04-25T15:30:43.220' AS DateTime), 1, NULL, NULL, 0, N'BIG MAGIC', 1)
INSERT [dbo].[PRP_BOUQUE_ASSETS] ([Id], [BouqueId], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [RioCntType]) VALUES (3, 3, NULL, 211, CAST(N'2023-04-25T15:30:43.220' AS DateTime), 1, NULL, NULL, 0, N'ZEE NEWS', 1)
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE_ASSETS] OFF
GO
/****** Object:  Index [IX_PRP_BOUQUE_ASSETS]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS] ADD  CONSTRAINT [IX_PRP_BOUQUE_ASSETS] UNIQUE NONCLUSTERED 
(
	[PackageId] ASC,
	[BouqueId] ASC,
	[ChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS] ADD  CONSTRAINT [DF_PRP_BOUQUE_ASSETS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS] ADD  DEFAULT ((0)) FOR [RioCntType]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS]  WITH NOCHECK ADD  CONSTRAINT [FK_PRP_BOUQUE_ASSETS_PRP_BOUQUE] FOREIGN KEY([BouqueId])
REFERENCES [dbo].[PRP_BOUQUE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS] CHECK CONSTRAINT [FK_PRP_BOUQUE_ASSETS_PRP_BOUQUE]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS]  WITH NOCHECK ADD  CONSTRAINT [FK_PRP_BOUQUE_ASSETS_SMS_CHANNEL] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[SMS_CHANNEL] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS] CHECK CONSTRAINT [FK_PRP_BOUQUE_ASSETS_SMS_CHANNEL]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS]  WITH NOCHECK ADD  CONSTRAINT [FK_PRP_BOUQUE_ASSETS_SMS_PACKAGE] FOREIGN KEY([PackageId])
REFERENCES [dbo].[SMS_PACKAGE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS] CHECK CONSTRAINT [FK_PRP_BOUQUE_ASSETS_SMS_PACKAGE]
GO
