USE [MNSMS]
GO
/****** Object:  Table [dbo].[UPLOADED_RECTIFY_PAIRING]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPLOADED_RECTIFY_PAIRING](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[STBNO_RE_PAIR] [varchar](50) NOT NULL,
	[SCNO_TO_NPAIR] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATUS_REMARK] [varchar](8000) NULL,
	[SESSION_ID] [bigint] NULL,
 CONSTRAINT [PK_UPLOADED_RECTIFY_PAIRING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UPLOADED_RECTIFY_PAIRING] ADD  CONSTRAINT [DF_UPLOADED_RECTIFY_PAIRING_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
