USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_BILLCOLLECTION]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_BILLCOLLECTION](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ReceiptId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[SettleInvoice] [bigint] NOT NULL,
	[SettleStatus] [bit] NOT NULL,
 CONSTRAINT [PK_SMS_BILLCOLLECTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_BILLCOLLECTION] ADD  CONSTRAINT [DF_SMS_BILLCOLLECTION_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_BILLCOLLECTION] ADD  CONSTRAINT [DF__SMS_BILLC__Settl__7CA612ED]  DEFAULT ((0)) FOR [SettleInvoice]
GO
ALTER TABLE [dbo].[SMS_BILLCOLLECTION] ADD  CONSTRAINT [DF__SMS_BILLC__Settl__7D9A3726]  DEFAULT ('0') FOR [SettleStatus]
GO
