USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CHARGEMASTER]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CHARGEMASTER](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ChargeTitle] [varchar](250) NOT NULL,
	[Amount] [float] NOT NULL,
	[Amount2] [float] NOT NULL,
	[Description] [varchar](250) NULL,
	[IsLocked] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_CHARGEMASTER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_CHARGEMASTER]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_CHARGEMASTER] ADD  CONSTRAINT [IX_SMS_CHARGEMASTER] UNIQUE NONCLUSTERED 
(
	[ChargeTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_CHARGEMASTER] ADD  CONSTRAINT [DF_SMS_CHARGEMASTER_Amount2]  DEFAULT ((0)) FOR [Amount2]
GO
ALTER TABLE [dbo].[SMS_CHARGEMASTER] ADD  CONSTRAINT [DF_SMS_CHARGEMASTER_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SMS_CHARGEMASTER] ADD  CONSTRAINT [DF_SMS_CHARGEMASTER_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_CHARGEMASTER] ADD  CONSTRAINT [DF_SMS_CHARGEMASTER_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
