USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[CreditId] [bigint] NOT NULL,
	[MonthYear] [date] NOT NULL,
	[Amount] [float] NOT NULL,
	[isAdjusted] [bit] NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[AdjustedOn] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_D_PAYMENTCREDIT_ENTRIES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_D_PAYMENTCREDIT_ENTRIES]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_D_PAYMENTCREDIT_ENTRIES] ON [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES]
(
	[MonthYear] ASC,
	[CreditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDIT_ENTRIES_isAdjusted]  DEFAULT ((0)) FOR [isAdjusted]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDIT_ENTRIES_InvoiceAccountId]  DEFAULT ((0)) FOR [InvoiceId]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES] ADD  CONSTRAINT [DF_SMS_D_PAYMENTCREDIT_ENTRIES_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES]  WITH NOCHECK ADD  CONSTRAINT [FK_SMS_D_PAYMENTCREDIT_ENTRIES_SMS_D_PAYMENTCREDITS] FOREIGN KEY([CreditId])
REFERENCES [dbo].[SMS_D_PAYMENTCREDITS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_D_PAYMENTCREDIT_ENTRIES] CHECK CONSTRAINT [FK_SMS_D_PAYMENTCREDIT_ENTRIES_SMS_D_PAYMENTCREDITS]
GO
