USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_USERMASTER]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_USERMASTER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](150) NOT NULL,
	[Mobile] [varchar](12) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](12) NULL,
	[DesignationId] [bigint] NOT NULL,
	[Description] [varchar](250) NULL,
	[Status] [bit] NOT NULL,
	[LogInId] [varchar](150) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[Deleted] [bit] NOT NULL,
	[sla_id] [bigint] NULL,
 CONSTRAINT [PK_SLA_USERMASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_USERMASTER]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_USERMASTER] ADD  CONSTRAINT [IX_SLA_USERMASTER] UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_USERMASTER_1]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_USERMASTER] ADD  CONSTRAINT [IX_SLA_USERMASTER_1] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_USERMASTER] ADD  CONSTRAINT [DF_SLA_USERMASTER_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_USERMASTER] ADD  CONSTRAINT [DF_SLA_USERMASTER_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_USERMASTER]  WITH CHECK ADD  CONSTRAINT [FK_SLA_USERMASTER_SLA_USERDESIGNATION] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[SLA_USERDESIGNATION] ([ID])
GO
ALTER TABLE [dbo].[SLA_USERMASTER] CHECK CONSTRAINT [FK_SLA_USERMASTER_SLA_USERDESIGNATION]
GO
ALTER TABLE [dbo].[SLA_USERMASTER]  WITH CHECK ADD  CONSTRAINT [FK_SLA_USERMASTER_SLA_USERMASTER] FOREIGN KEY([ID])
REFERENCES [dbo].[SLA_USERMASTER] ([ID])
GO
ALTER TABLE [dbo].[SLA_USERMASTER] CHECK CONSTRAINT [FK_SLA_USERMASTER_SLA_USERMASTER]
GO
