USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CATEGORY_HISTORY]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CATEGORY_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Deleted] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_SMS_CATEGORY_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_CATEGORY_HISTORY] ON 

INSERT [dbo].[SMS_CATEGORY_HISTORY] ([Id], [FID], [Title], [Description], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (1, 2, N'HINDI GEC', N'HINDI GEC', 1, CAST(N'2015-04-08T10:24:47.860' AS DateTime), 10003, CAST(N'2015-04-08T11:28:54.293' AS DateTime), 10003, 0, NULL, NULL, CAST(N'2022-08-06T12:44:59.370' AS DateTime), 10003, 0, 1, N'Inserted')
INSERT [dbo].[SMS_CATEGORY_HISTORY] ([Id], [FID], [Title], [Description], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (2, 3, N'KIDS', N'KIDS', 1, CAST(N'2015-04-08T11:26:14.463' AS DateTime), 10003, NULL, NULL, 0, NULL, NULL, CAST(N'2022-08-06T12:44:59.380' AS DateTime), 10003, 0, 1, N'Inserted')
INSERT [dbo].[SMS_CATEGORY_HISTORY] ([Id], [FID], [Title], [Description], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (3, 4, N'ENGLISH NEWS', N'ENGLISH NEWS', 1, CAST(N'2015-04-08T11:26:28.463' AS DateTime), 10003, NULL, NULL, 0, NULL, NULL, CAST(N'2022-08-06T12:44:59.383' AS DateTime), 10003, 0, 1, N'Inserted')
SET IDENTITY_INSERT [dbo].[SMS_CATEGORY_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_CATEGORY_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_CATEGORY_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
