USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_MENU]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_MENU](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Label] [varchar](100) NOT NULL,
	[functions] [varchar](100) NOT NULL,
	[htm_output] [varchar](100) NULL,
	[general] [varchar](100) NULL,
	[ForUser] [int] NOT NULL,
	[ParentMenuId] [int] NOT NULL,
	[OrderBy] [int] NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[MenuOrder] [int] NOT NULL,
	[LeftRightWidth] [int] NOT NULL,
 CONSTRAINT [PK_SMSTSUBTAB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_MENU] ON 

INSERT [dbo].[SMS_MENU] ([ID], [Label], [functions], [htm_output], [general], [ForUser], [ParentMenuId], [OrderBy], [Status], [MenuOrder], [LeftRightWidth]) VALUES (1, N'MASTER', N'master', NULL, NULL, 1, 0, 1, N'Active', 1, 375)
INSERT [dbo].[SMS_MENU] ([ID], [Label], [functions], [htm_output], [general], [ForUser], [ParentMenuId], [OrderBy], [Status], [MenuOrder], [LeftRightWidth]) VALUES (2, N'User Master', N'User', N'html_list', NULL, 1, 1, 1, N'Active', 1, -1)
INSERT [dbo].[SMS_MENU] ([ID], [Label], [functions], [htm_output], [general], [ForUser], [ParentMenuId], [OrderBy], [Status], [MenuOrder], [LeftRightWidth]) VALUES (3, N'Broadcaster', N'broadcaster', N'html_list', NULL, 1, 1, 2, N'Active', 1, -2)
GO
SET IDENTITY_INSERT [dbo].[SMS_MENU] OFF
GO
/****** Object:  Index [IX_SMS_MENU]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_MENU] ON [dbo].[SMS_MENU]
(
	[ParentMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_MENU] ADD  CONSTRAINT [DF_SMS_MENU_LeftRightWidth]  DEFAULT ((-1)) FOR [LeftRightWidth]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'-1 Left
-2 Right
Others width' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_MENU', @level2type=N'COLUMN',@level2name=N'LeftRightWidth'
GO
