USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CAS_LE_ERRORCODE]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CAS_LE_ERRORCODE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Parameter] [varchar](8000) NULL,
	[Value] [int] NULL,
	[Description] [varchar](8000) NULL,
 CONSTRAINT [PK_SMS_CAS_LE_ERRORCODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
