USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_PACKAGE_HISTORY]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_PACKAGE_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[fid] [bigint] NOT NULL,
	[PackageName] [varchar](150) NOT NULL,
	[CasCode] [int] NULL,
	[Price] [float] NOT NULL,
	[Price2] [float] NOT NULL,
	[BillingCycle] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[Description] [varchar](250) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[PackageType] [bit] NULL,
	[CasCodeGospel] [int] NOT NULL,
	[IsPrepaid] [bit] NOT NULL,
	[CasCodeTelelynx] [varchar](50) NULL,
	[BranchId] [bigint] NULL,
	[DASType] [bit] NULL,
	[CasCodeNSTV] [varchar](50) NULL,
	[CasCodeKingvon] [varchar](50) NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
	[CasCodeCatVision] [varchar](50) NULL,
	[CasCodeBCas] [varchar](50) NULL,
 CONSTRAINT [PK_sms_package_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_PACKAGE_HISTORY] ON 

SET IDENTITY_INSERT [dbo].[SMS_PACKAGE_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_PACKAGE_HISTORY] ADD  CONSTRAINT [DF_SMS_PACKAGE_HISTORY_IsPrepaid]  DEFAULT ((1)) FOR [IsPrepaid]
GO
ALTER TABLE [dbo].[SMS_PACKAGE_HISTORY] ADD  CONSTRAINT [DF__sms_packa__Inser__0D3CEDDC]  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_PACKAGE_HISTORY] ADD  CONSTRAINT [DF__sms_packa__Previ__0E311215]  DEFAULT ((0)) FOR [PreviousId]
GO
ALTER TABLE [dbo].[SMS_PACKAGE_HISTORY] ADD  DEFAULT (NULL) FOR [CasCodeBCas]
GO
