USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TVId] [varchar](8) NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[ConnectionId] [bigint] NOT NULL,
	[ApplicableRate] [bigint] NOT NULL,
	[BillingSMonth] [date] NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[DeactivationDate] [date] NULL,
	[IsPrimary] [bit] NOT NULL,
	[Description] [varchar](250) NULL,
	[ActionTaken] [int] NOT NULL,
	[ReasonId] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NOT NULL,
 CONSTRAINT [PK_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [IX_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] UNIQUE NONCLUSTERED 
(
	[SubscriberId] ASC,
	[TVId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_1]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_1] ON [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS]
(
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_ConnectionId]  DEFAULT ((0)) FOR [ConnectionId]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_ApplicableRate]  DEFAULT ((1)) FOR [ApplicableRate]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_BillingDate]  DEFAULT (getdate()) FOR [BillingSMonth]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_IsPrimary]  DEFAULT ((1)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_ActionTaken]  DEFAULT ((1)) FOR [ActionTaken]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_ReasonId]  DEFAULT ((0)) FOR [ReasonId]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  CONSTRAINT [DF_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ADD  DEFAULT ((0)) FOR [sms_id]
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_SMS_SUBSCRIBERS] FOREIGN KEY([SubscriberId])
REFERENCES [dbo].[SMS_SUBSCRIBERS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] CHECK CONSTRAINT [FK_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS_SMS_SUBSCRIBERS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Connected
2-Activated
3-Deactivated
4-Disconnected' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_SUBSCRIBERS_ANALOG_ACCOUNTS', @level2type=N'COLUMN',@level2name=N'ActionTaken'
GO
