USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_B_A_NEXTINVOICEMONTH]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[HAccountId] [bigint] NOT NULL,
	[NextMonthYear] [date] NOT NULL,
	[BillSmonth] [date] NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[InvoiceMonth] [date] NULL,
	[LastInvoiceId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_B_A_LASTINVOICEMONTH] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_B_A_LASTINVOICEMONTH]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_B_A_LASTINVOICEMONTH] ON [dbo].[SMS_B_A_NEXTINVOICEMONTH]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_NEXTINVOICEMONTH_SubscriberId]  DEFAULT ((0)) FOR [SubscriberId]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_NEXTINVOICEMONTH_HAccountId]  DEFAULT ((0)) FOR [HAccountId]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_NEXTINVOICEMONTH_BillSmonth]  DEFAULT (getdate()) FOR [BillSmonth]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_LASTINVOICEMONTH_InvoiceId]  DEFAULT ((0)) FOR [InvoiceId]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_NEXTINVOICEMONTH_LastInvoiceId]  DEFAULT ((0)) FOR [LastInvoiceId]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_NEXTINVOICEMONTH_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SMS_B_A_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_A_LASTINVOICEMONTH_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
