USE [MNSMS]
GO
/****** Object:  Table [dbo].[CUST_TRANS]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_TRANS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[SubscriberId] [bigint] NULL,
	[CustomerId] [varchar](20) NULL,
	[OperatorId] [bigint] NULL,
	[Operator] [varchar](250) NULL,
	[SmartcardNo] [varchar](50) NOT NULL,
	[StbNo] [varchar](50) NOT NULL,
	[PrpTransId] [bigint] NOT NULL,
	[BouqueId] [bigint] NOT NULL,
	[BouqueName] [varchar](150) NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[DeactivationDate] [date] NOT NULL,
	[MRP] [float] NOT NULL,
	[Remark] [varchar](250) NULL,
	[PrpInsertDate] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
 CONSTRAINT [PK_CUST_TRANS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUST_TRANS] ON 

INSERT [dbo].[CUST_TRANS] ([Id], [AccountId], [SubscriberId], [CustomerId], [OperatorId], [Operator], [SmartcardNo], [StbNo], [PrpTransId], [BouqueId], [BouqueName], [ActivationDate], [DeactivationDate], [MRP], [Remark], [PrpInsertDate], [CreatedOn], [CreatedBy]) VALUES (1, 1, 1, N'OZN0000001', 1, N'OZONE HEADEND', N'8006064231115323', N'23117080035152', 1, 1, N'ALL CHANNELS', CAST(N'2022-08-08' AS Date), CAST(N'2022-09-07' AS Date), 0, N'prp_createprepaidaccount_session', CAST(N'2022-08-08T14:13:51.330' AS DateTime), CAST(N'2022-11-05T17:24:50.610' AS DateTime), 1)
INSERT [dbo].[CUST_TRANS] ([Id], [AccountId], [SubscriberId], [CustomerId], [OperatorId], [Operator], [SmartcardNo], [StbNo], [PrpTransId], [BouqueId], [BouqueName], [ActivationDate], [DeactivationDate], [MRP], [Remark], [PrpInsertDate], [CreatedOn], [CreatedBy]) VALUES (2, 1, 1, N'OZN0000001', 1, N'OZONE HEADEND', N'8006064231115323', N'23117080035152', 2, 1, N'ALL CHANNELS', CAST(N'2022-08-08' AS Date), CAST(N'2022-09-07' AS Date), 0, N'prp_createprepaidaccount_session', CAST(N'2022-08-08T14:25:06.377' AS DateTime), CAST(N'2022-11-05T17:24:50.610' AS DateTime), 1)
INSERT [dbo].[CUST_TRANS] ([Id], [AccountId], [SubscriberId], [CustomerId], [OperatorId], [Operator], [SmartcardNo], [StbNo], [PrpTransId], [BouqueId], [BouqueName], [ActivationDate], [DeactivationDate], [MRP], [Remark], [PrpInsertDate], [CreatedOn], [CreatedBy]) VALUES (3, 2, 1, N'OZN0000001', 1, N'OZONE HEADEND', N'8006064231115323', N'23117080035152', 3, 1, N'ALL CHANNELS', CAST(N'2022-08-16' AS Date), CAST(N'2022-09-15' AS Date), 0, N'prp_d_create_both_account', CAST(N'2022-08-16T16:17:13.153' AS DateTime), CAST(N'2022-11-05T17:24:50.610' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CUST_TRANS] OFF
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_AccountId]  DEFAULT ((0)) FOR [AccountId]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_SubscriberId]  DEFAULT ((0)) FOR [SubscriberId]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_OperatorId]  DEFAULT ((0)) FOR [OperatorId]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_SmartcardNo]  DEFAULT ((0)) FOR [SmartcardNo]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_StbNo]  DEFAULT ((0)) FOR [StbNo]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_PrpTransId]  DEFAULT ((0)) FOR [PrpTransId]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_BouqueId]  DEFAULT ((0)) FOR [BouqueId]
GO
ALTER TABLE [dbo].[CUST_TRANS] ADD  CONSTRAINT [DF_CUST_TRANS_MRP]  DEFAULT ((0)) FOR [MRP]
GO
