USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_STBS_HISTORY]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_STBS_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StbId] [bigint] NOT NULL,
	[STBNo] [varchar](50) NOT NULL,
	[MACADDRESS] [varchar](50) NULL,
	[Status] [tinyint] NOT NULL,
	[BrandId] [bigint] NOT NULL,
	[UploadLogId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[IsLocked] [bit] NOT NULL,
	[LockedOn] [datetime] NULL,
	[LockedFrom] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[DocExtension] [varchar](6) NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
	[NSTVSTBTrackNo] [varchar](50) NULL,
 CONSTRAINT [PK_SMS_STBS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_STBS_HISTORY] ON 

INSERT [dbo].[SMS_STBS_HISTORY] ([Id], [StbId], [STBNo], [MACADDRESS], [Status], [BrandId], [UploadLogId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [DocExtension], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [NSTVSTBTrackNo]) VALUES (1, 1, N'23117080035152', NULL, 1, 2, 0, CAST(N'2022-08-08T12:58:19.233' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2022-08-08T12:58:19.240' AS DateTime), 1, 0, 1, N'Inserted', NULL)
INSERT [dbo].[SMS_STBS_HISTORY] ([Id], [StbId], [STBNo], [MACADDRESS], [Status], [BrandId], [UploadLogId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [DocExtension], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [NSTVSTBTrackNo]) VALUES (2, 2, N'23117160003914', NULL, 1, 2, 0, CAST(N'2022-08-17T17:46:52.183' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2022-08-17T17:46:52.183' AS DateTime), 1, 0, 1, N'Inserted', NULL)
INSERT [dbo].[SMS_STBS_HISTORY] ([Id], [StbId], [STBNo], [MACADDRESS], [Status], [BrandId], [UploadLogId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [DocExtension], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [NSTVSTBTrackNo]) VALUES (3, 95, N'23117080032522', NULL, 1, 2, 2, CAST(N'2022-08-29T16:37:03.620' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2022-08-29T16:37:03.633' AS DateTime), 1, 0, 1, N'Inserted', NULL)
GO
SET IDENTITY_INSERT [dbo].[SMS_STBS_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_STBS_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_STBS_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
