USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SOCIETY_MASTER]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SOCIETY_MASTER](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SocietyCode] [varchar](50) NOT NULL,
	[SocietyName] [varchar](150) NOT NULL,
	[AreaId] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
 CONSTRAINT [PK_SMS_SOCIETY_MASTER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_SOCIETY_MASTER] ON 

INSERT [dbo].[SMS_SOCIETY_MASTER] ([Id], [SocietyCode], [SocietyName], [AreaId], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id]) VALUES (1, N'OZ001', N'OZONE', 1, 1, CAST(N'2022-08-06T13:04:09.440' AS DateTime), 1, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[SMS_SOCIETY_MASTER] ([Id], [SocietyCode], [SocietyName], [AreaId], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id]) VALUES (2, N'FBD01', N'PRANAYAM', 2, 1, CAST(N'2023-06-06T14:08:37.047' AS DateTime), 3, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[SMS_SOCIETY_MASTER] ([Id], [SocietyCode], [SocietyName], [AreaId], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id]) VALUES (3, N'OZ002', N'PARK ELITE', 3, 1, CAST(N'2023-08-21T13:48:35.470' AS DateTime), 3, CAST(N'2023-08-21T14:06:32.867' AS DateTime), 3, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SMS_SOCIETY_MASTER] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_SOCIETY_MASTER]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_SOCIETY_MASTER] ADD  CONSTRAINT [IX_SMS_SOCIETY_MASTER] UNIQUE NONCLUSTERED 
(
	[SocietyCode] ASC,
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_SOCIETY_MASTER_1]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_SOCIETY_MASTER] ADD  CONSTRAINT [IX_SMS_SOCIETY_MASTER_1] UNIQUE NONCLUSTERED 
(
	[SocietyName] ASC,
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_SOCIETY_MASTER_11_1209771367__K1_2_3_4]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_SOCIETY_MASTER_11_1209771367__K1_2_3_4] ON [dbo].[SMS_SOCIETY_MASTER]
(
	[Id] ASC
)
INCLUDE([SocietyCode],[SocietyName],[AreaId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SOCIETY_MASTER] ADD  CONSTRAINT [DF_SMS_SOCIETY_MASTER_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_SOCIETY_MASTER] ADD  CONSTRAINT [DF_SMS_SOCIETY_MASTER_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_SOCIETY_MASTER]  WITH NOCHECK ADD  CONSTRAINT [FK_SMS_SOCIETY_MASTER_SMS_AREACODE] FOREIGN KEY([AreaId])
REFERENCES [dbo].[SMS_AREACODE] ([ID])
GO
ALTER TABLE [dbo].[SMS_SOCIETY_MASTER] CHECK CONSTRAINT [FK_SMS_SOCIETY_MASTER_SMS_AREACODE]
GO
