USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[StartDate] [date] NOT NULL,
	[DiscountDate] [date] NOT NULL,
	[DiscountId] [bigint] NOT NULL,
	[DiscountTitle] [varchar](150) NOT NULL,
	[DiscountCode] [varchar](50) NOT NULL,
	[DiscountValue] [float] NOT NULL,
	[IsInAmount] [bit] NOT NULL,
	[DiscountPeriod] [int] NOT NULL,
	[IsAdjusted] [bit] NOT NULL,
	[AdjustedOn] [datetime] NULL,
	[InvoiceAccountId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_D_SUBSCRIBERS_DISCOUNTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_D_SUBSCRIBERS_DISCOUNTS]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS] ADD  CONSTRAINT [IX_SMS_D_SUBSCRIBERS_DISCOUNTS] UNIQUE NONCLUSTERED 
(
	[DiscountId] ASC,
	[DiscountDate] ASC,
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS] ADD  CONSTRAINT [DF_SMS_D_SUBSCRIBERS_DISCOUNTS_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS] ADD  CONSTRAINT [DF_SMS_D_SUBSCRIBERS_DISCOUNTS_IsAdjusted]  DEFAULT ((0)) FOR [IsAdjusted]
GO
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS] ADD  CONSTRAINT [DF_SMS_D_SUBSCRIBERS_DISCOUNTS_InvoiceAccountId]  DEFAULT ((0)) FOR [InvoiceAccountId]
GO
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS] ADD  CONSTRAINT [DF_SMS_D_SUBSCRIBERS_DISCOUNTS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_SMS_D_SUBSCRIBERS_DISCOUNTS_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] FOREIGN KEY([AccountId])
REFERENCES [dbo].[SMS_SUBSCRIBERS_ANALOG_ACCOUNTS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_D_SUBSCRIBERS_DISCOUNTS] CHECK CONSTRAINT [FK_SMS_D_SUBSCRIBERS_DISCOUNTS_SMS_SUBSCRIBERS_ANALOG_ACCOUNTS]
GO
