USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_PACKAGE_ALACARTE_AGEING]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_PACKAGE_ALACARTE_AGEING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageName] [varchar](100) NOT NULL,
	[CasCode] [varchar](50) NOT NULL,
	[IsAlacarte] [bit] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[CurrentActive] [int] NOT NULL,
	[thirtyDays] [int] NOT NULL,
	[sixtydays] [int] NOT NULL,
	[nintydays] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_SMS_PACKAGE_ALACARTE_AGEING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_PACKAGE_ALACARTE_AGEING] ADD  CONSTRAINT [DF_SMS_PACKAGE_ALACARTE_AGEING_CasCode]  DEFAULT ((0)) FOR [CasCode]
GO
