USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_OPERATOR]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_OPERATOR](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NAME] [varchar](150) NOT NULL,
	[CODE] [varchar](150) NULL,
	[CONTACTPERSON] [varchar](150) NULL,
	[ParentId] [bigint] NOT NULL,
	[TobeBilled] [bit] NOT NULL,
	[BillingFrom] [date] NULL,
	[ADDRESS] [varchar](255) NOT NULL,
	[MOBILE] [bigint] NULL,
	[Email] [varchar](150) NULL,
	[PHONE] [varchar](150) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[LogInId] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Deleted] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[branch] [int] NOT NULL,
	[AreaId] [bigint] NOT NULL,
	[PanNo] [varchar](50) NULL,
	[SerTaxNo] [varchar](50) NULL,
 CONSTRAINT [PK_SMSTOPERATOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_OPERATOR] ON 

SET IDENTITY_INSERT [dbo].[SMS_OPERATOR] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_OPERATOR]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [IX_SMS_OPERATOR] UNIQUE NONCLUSTERED 
(
	[LogInId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_OPERATOR_11_1978594237__K1]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_OPERATOR_11_1978594237__K1] ON [dbo].[SMS_OPERATOR]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_OPERATOR_11_1978594237__K1_2_3]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_OPERATOR_11_1978594237__K1_2_3] ON [dbo].[SMS_OPERATOR]
(
	[ID] ASC
)
INCLUDE([NAME],[CODE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_OPERATOR_11_1978594237__K1_K5_K22_2_3_6]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_OPERATOR_11_1978594237__K1_K5_K22_2_3_6] ON [dbo].[SMS_OPERATOR]
(
	[ID] ASC,
	[ParentId] ASC,
	[branch] ASC
)
INCLUDE([NAME],[CODE],[TobeBilled]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [_dta_index_SMS_OPERATOR_7_1948006999__K22]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_OPERATOR_7_1948006999__K22] ON [dbo].[SMS_OPERATOR]
(
	[branch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_OPERATOR_1]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_OPERATOR_1] ON [dbo].[SMS_OPERATOR]
(
	[TobeBilled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [DF_SMS_OPERATOR_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [DF_SMS_OPERATOR_TobeBilled]  DEFAULT ((0)) FOR [TobeBilled]
GO
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [DF_SMS_OPERATOR_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [DF_SMS_OPERATOR_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [DF_SMS_OPERATOR_branch]  DEFAULT ((0)) FOR [branch]
GO
ALTER TABLE [dbo].[SMS_OPERATOR] ADD  CONSTRAINT [DF_SMS_OPERATOR_AreaId]  DEFAULT ((0)) FOR [AreaId]
GO
