USE [MNSMS]
GO
/****** Object:  StoredProcedure [dbo].[prp_activate_prepaid_refresh]    Script Date: 2023-11-10 06:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[prp_activate_prepaid_refresh] @accountId as bigint,@UserId as Bigint,@remark as varchar(50)='AccountRefreshed'
As
Begin
	if(OBJECT_ID('tempdb.dbo.#temp_bouq') is not null)    
		drop table #temp_bouq 
	if(OBJECT_ID('tempdb.dbo.#t_assets') is not null)    
		drop table #t_assets  
	if(OBJECT_ID('tempdb.dbo.#temp_trans') is not null)    
		drop table #temp_trans
	Declare @sessionflag as bigint
	Select @sessionflag=MAX(SessionFlag) from PRP_ACCOUNTTRANSACTION where AccountId=@accountId and CASStatus=0 and Status=1 and DeactivationDate>cast(GETDATE() as date) 

	select AccountId,BouqueId,ActivationDate as ActivationDate,DeactivationDate as DeactivationDate into #temp_bouq from PRP_ACCOUNTTRANSACTION where AccountId=@accountId 
	and CASStatus=0 and Status=1 and DeactivationDate>cast(GETDATE() as date) and SessionFlag=@sessionflag

	if(@remark='d_refresh_entitlement')
	begin 
		Delete from #temp_bouq

		insert into #temp_bouq (AccountId,BouqueId,ActivationDate,DeactivationDate)
		select a.AccountId,a.BouqueId,a.ActivationDate as ActivationDate,a.DeactivationDate as DeactivationDate
		from (select ROW_NUMBER()OVER(PARTITION BY BouqueId order by DeactivationDate desc) as Rid,* from PRP_ACCOUNTTRANSACTION where AccountId=@accountId)a where 
		a.AccountId=@accountId and a.CASStatus=0 and a.Status=1 and a.DeactivationDate>cast(GETDATE() as date) and a.Rid=1
	end

	select * into #t_assets from prp_view_Bou_pack_channel_cascode a where a.BouqueId in (Select BouqueId from #temp_bouq)

	begin try
	select a.AccountId,a.ActivationDate,a.DeactivationDate,b.* into #temp_trans from #temp_bouq a left outer join #t_assets b on a.BouqueId=b.BouqueId

	declare @castypeId as bigint
	Select @castypeId=CASTYPEID from sms_view_accounts_pairings where Id=@accountId
	
	if(@castypeId=4) --catvision
	Begin
		begin try	
		insert into SMS_CATVISION_CMDS (SmartCardNo,SmartCardId,STBNo,StbId,SubscriberId,AccountId,CommandId,CommandName,
		Status,Command_Param,Remark,CommandDate,CreatedOn,CreatedBy,Command,ActivationDate,DeactivationDate,PackageIds,AlacarteIds)
		select b.SmartcardNo as SmartCardNo,b.SmartCardId as SmartCardId,b.STBNo as STBNo,StbId as StbId,b.SubscriberId,b.Id as AccountId,
		'101' as CommandId,'Subscriber_entitle_request' as CommandName,0 as Status,'101' as Command_Param,'Refresh_Subscriber_entitle_request' as Remark,getdate() as CommandDate,getdate() as CreatedOn,@UserId as CreatedBy,
		SmartcardNo,c.ActivationDate,c.DeactivationDate as DeactivationDate,
		case when IsAlacarte=0 then  c.CasCodeCatVision else 0 end as PackageIds,
		case when IsAlacarte=1 then c.CasCodeCatVision else  0 end AS AlacarteIds
		from sms_view_SubscriberAccountList b left outer join #temp_trans c on b.id=c.AccountId 
		where b.SubscriberId is not null and c.AccountId is not null
		

		update PRP_ACCOUNTTRANSACTION set CASStatus=1 where CASStatus=0 and AccountId=@accountId 
		end try
		begin catch
			print 'error'
		end catch
	End	
	 

	if(OBJECT_ID('tempdb.dbo.#temp_bouq') is not null)    
		drop table #temp_bouq
	if(OBJECT_ID('tempdb.dbo.#t_assets') is not null)    
		drop table #t_assets  
	if(OBJECT_ID('tempdb.dbo.#temp_trans') is not null)    
		drop table #temp_trans
	End Try 
	Begin Catch
	select 'Error in '+cast(ERROR_PROCEDURE() as varchar)+' at  line '+ cast(ERROR_LINE() as varchar)+' <br> ' +ERROR_MESSAGE()  as msg,'true' as error;
	End Catch
End

GO
