USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_LOGIN_SESSION]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_LOGIN_SESSION](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserId] [bigint] NULL,
	[NAME] [varchar](50) NULL,
	[LogInType] [varchar](50) NULL,
	[SystemIP] [varchar](50) NULL,
	[CREATEDON] [datetime] NOT NULL,
	[CREATEDBY] [bigint] NOT NULL,
 CONSTRAINT [PK_SMS_LOGIN_SESSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_LOGIN_SESSION] ON 

INSERT [dbo].[SMS_LOGIN_SESSION] ([ID], [UserId], [NAME], [LogInType], [SystemIP], [CREATEDON], [CREATEDBY]) VALUES (1, 1, N'Admin', N'LogOut', N'::1', CAST(N'2022-08-02T16:39:07.433' AS DateTime), -1)
INSERT [dbo].[SMS_LOGIN_SESSION] ([ID], [UserId], [NAME], [LogInType], [SystemIP], [CREATEDON], [CREATEDBY]) VALUES (2, 1, N'Admin', N'LogOut', N'::1', CAST(N'2022-08-02T16:42:53.440' AS DateTime), -1)
INSERT [dbo].[SMS_LOGIN_SESSION] ([ID], [UserId], [NAME], [LogInType], [SystemIP], [CREATEDON], [CREATEDBY]) VALUES (3, 1, N'Admin', N'LogOut', N'::1', CAST(N'2022-08-02T17:15:13.773' AS DateTime), -1)
SET IDENTITY_INSERT [dbo].[SMS_LOGIN_SESSION] OFF
GO
ALTER TABLE [dbo].[SMS_LOGIN_SESSION] ADD  CONSTRAINT [DF_SMS_LOGIN_SESSION_NAME]  DEFAULT (NULL) FOR [NAME]
GO
ALTER TABLE [dbo].[SMS_LOGIN_SESSION] ADD  CONSTRAINT [DF_SMS_LOGIN_SESSION_LogInIP]  DEFAULT (NULL) FOR [SystemIP]
GO
