USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_ESCALATEDTO]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_ESCALATEDTO](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EscalationId] [bigint] NOT NULL,
	[UserId] [bigint] NULL,
	[ComplaintId] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SLA_ESCALATEDTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SLA_ESCALATEDTO]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_ESCALATEDTO] ADD  CONSTRAINT [IX_SLA_ESCALATEDTO] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ComplaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO] ADD  CONSTRAINT [DF_SLA_ESCALATEDTO_ComplaintId]  DEFAULT ((0)) FOR [ComplaintId]
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO] ADD  CONSTRAINT [DF_SLA_ESCALATEDTO_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO] ADD  CONSTRAINT [DF_SLA_ESCALATEDTO_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ESCALATEDTO_SLA_COMPLAINT] FOREIGN KEY([ComplaintId])
REFERENCES [dbo].[SLA_COMPLAINT] ([Id])
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO] CHECK CONSTRAINT [FK_SLA_ESCALATEDTO_SLA_COMPLAINT]
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ESCALATEDTO_SLA_ESCALATIONS] FOREIGN KEY([EscalationId])
REFERENCES [dbo].[SLA_ESCALATIONS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO] CHECK CONSTRAINT [FK_SLA_ESCALATEDTO_SLA_ESCALATIONS]
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ESCALATEDTO_SLA_USERMASTER] FOREIGN KEY([UserId])
REFERENCES [dbo].[SLA_USERMASTER] ([ID])
GO
ALTER TABLE [dbo].[SLA_ESCALATEDTO] CHECK CONSTRAINT [FK_SLA_ESCALATEDTO_SLA_USERMASTER]
GO
