USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CHANNELINSUBSIDIARY]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CHANNELINSUBSIDIARY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageId] [bigint] NOT NULL,
	[ChannelId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_CHANNELINSUBSIDIARY] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_CHANNELINSUBSIDIARY]  WITH CHECK ADD  CONSTRAINT [FK__SMS_CHANN__Chann__726946F3] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[SMS_CHANNEL] ([Id])
GO
ALTER TABLE [dbo].[SMS_CHANNELINSUBSIDIARY] CHECK CONSTRAINT [FK__SMS_CHANN__Chann__726946F3]
GO
ALTER TABLE [dbo].[SMS_CHANNELINSUBSIDIARY]  WITH CHECK ADD  CONSTRAINT [FK__SMS_CHANN__Packa__717522BA] FOREIGN KEY([PackageId])
REFERENCES [dbo].[SMS_SUBSIDIARY_MASTER] ([Id])
GO
ALTER TABLE [dbo].[SMS_CHANNELINSUBSIDIARY] CHECK CONSTRAINT [FK__SMS_CHANN__Packa__717522BA]
GO
