USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_ENGINEER_AREA]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_ENGINEER_AREA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ENGGID] [bigint] NOT NULL,
	[AREAID] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_ENGINEER_AREA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SLA_ENGINEER_AREA] ON 

INSERT [dbo].[SLA_ENGINEER_AREA] ([ID], [ENGGID], [AREAID], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (1, 1, 118, CAST(N'2015-01-21T17:35:03.140' AS DateTime), 0, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[SLA_ENGINEER_AREA] OFF
GO
/****** Object:  Index [IX_SLA_ENGINEER_AREA]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_ENGINEER_AREA] ADD  CONSTRAINT [IX_SLA_ENGINEER_AREA] UNIQUE NONCLUSTERED 
(
	[AREAID] ASC,
	[ENGGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_ENGINEER_AREA] ADD  CONSTRAINT [DF_SLA_ENGINEER_AREA_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_ENGINEER_AREA]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ENGINEER_AREA_SLA_ENGINEER_DETAILS] FOREIGN KEY([ENGGID])
REFERENCES [dbo].[SLA_ENGINEER_DETAILS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_ENGINEER_AREA] CHECK CONSTRAINT [FK_SLA_ENGINEER_AREA_SLA_ENGINEER_DETAILS]
GO
