USE [MNSMS]
GO
/****** Object:  Table [dbo].[BUPLOAD_PAIR_TOMSOLCO]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUPLOAD_PAIR_TOMSOLCO](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[STB_NO] [varchar](50) NOT NULL,
	[SC_NO] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATUS_REMARK] [varchar](8000) NULL,
	[SESSION_ID] [bigint] NULL,
	[STB_BRAND] [varchar](20) NULL,
	[SMC_BRAND] [varchar](20) NULL,
	[OPERATORCODE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BUPLOAD_PAIR_TOMSOLCO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BUPLOAD_PAIR_TOMSOLCO] ADD  CONSTRAINT [DF_BUPLOAD_PAIR_TOMSOLCO_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
