USE [MNSMS]
GO
/****** Object:  Table [dbo].[LOG_RECREARE_VIEW_CACHE]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_RECREARE_VIEW_CACHE](
	[TableName] [varchar](150) NOT NULL,
	[ReCreate] [bit] NOT NULL,
	[LastRecreatedOn] [datetime] NULL,
	[RecretedOn] [datetime] NULL,
 CONSTRAINT [PK_LOG_RECREARE_VIEW_CACHE] PRIMARY KEY CLUSTERED 
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOG_RECREARE_VIEW_CACHE] ADD  CONSTRAINT [DF_LOG_RECREARE_VIEW_CACHE_ReCreate]  DEFAULT ((1)) FOR [ReCreate]
GO
