USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_STBS]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_STBS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[STBNo] [varchar](50) NOT NULL,
	[MACADDRESS] [varchar](50) NULL,
	[Status] [tinyint] NOT NULL,
	[BrandId] [bigint] NOT NULL,
	[UploadLogId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[IsLocked] [bit] NOT NULL,
	[LockedOn] [datetime] NULL,
	[LockedFrom] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[DocExtension] [varchar](6) NULL,
	[CHIPID] [varchar](50) NULL,
	[Checkcode] [varchar](50) NULL,
	[Authcode] [varchar](50) NULL,
	[PONumber] [varchar](15) NULL,
	[PODate] [date] NULL,
	[InvNumber] [varchar](15) NULL,
	[InvDate] [date] NULL,
	[NSTVSTBTrackNo] [varchar](50) NULL,
 CONSTRAINT [PK_SMS_STBS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_STBS] ON 

INSERT [dbo].[SMS_STBS] ([Id], [STBNo], [MACADDRESS], [Status], [BrandId], [UploadLogId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [DocExtension], [CHIPID], [Checkcode], [Authcode], [PONumber], [PODate], [InvNumber], [InvDate], [NSTVSTBTrackNo]) VALUES (1, N'23117080035152', NULL, 1, 2, 0, CAST(N'2022-08-08T12:58:19.233' AS DateTime), 1, NULL, NULL, 0, NULL, 0, CAST(N'2022-08-08T12:58:38.120' AS DateTime), N'dt3g93tpcve8vgla1vjlr2tir2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SMS_STBS] ([Id], [STBNo], [MACADDRESS], [Status], [BrandId], [UploadLogId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [DocExtension], [CHIPID], [Checkcode], [Authcode], [PONumber], [PODate], [InvNumber], [InvDate], [NSTVSTBTrackNo]) VALUES (2, N'23117160003914', NULL, 1, 2, 0, CAST(N'2022-08-17T17:46:52.183' AS DateTime), 1, NULL, NULL, 0, NULL, 0, CAST(N'2022-08-17T17:47:04.147' AS DateTime), N'dt3g93tpcve8vgla1vjlr2tir2', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SMS_STBS] ([Id], [STBNo], [MACADDRESS], [Status], [BrandId], [UploadLogId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [DocExtension], [CHIPID], [Checkcode], [Authcode], [PONumber], [PODate], [InvNumber], [InvDate], [NSTVSTBTrackNo]) VALUES (3, N'23117160000787', NULL, 1, 2, 2, CAST(N'2022-08-29T16:37:03.620' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SMS_STBS] OFF
GO
/****** Object:  Index [_dta_index_SMS_STBS_11_1464392286__K1_2_5_19_20]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_STBS_11_1464392286__K1_2_5_19_20] ON [dbo].[SMS_STBS]
(
	[Id] ASC
)
INCLUDE([STBNo],[BrandId],[Checkcode],[Authcode]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_STBS_5_1464392286__K1_K2_K5]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_STBS_5_1464392286__K1_K2_K5] ON [dbo].[SMS_STBS]
(
	[Id] ASC,
	[STBNo] ASC,
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_STBS_5_1464392286__K1_K5_K2]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_STBS_5_1464392286__K1_K5_K2] ON [dbo].[SMS_STBS]
(
	[Id] ASC,
	[BrandId] ASC,
	[STBNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_STBS]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [IX_SMS_STBS] ON [dbo].[SMS_STBS]
(
	[STBNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_STBS] ADD  CONSTRAINT [DF_SMS_STBS_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_STBS] ADD  CONSTRAINT [DF_SMS_STBS_BrandId]  DEFAULT ((0)) FOR [BrandId]
GO
ALTER TABLE [dbo].[SMS_STBS] ADD  CONSTRAINT [DF_SMS_STBS_UploadLogId]  DEFAULT ((0)) FOR [UploadLogId]
GO
ALTER TABLE [dbo].[SMS_STBS] ADD  CONSTRAINT [DF_SMS_STBS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_STBS] ADD  CONSTRAINT [DF_SMS_STBS_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SMS_STBS]  WITH CHECK ADD  CONSTRAINT [FK_SMS_STBS_SMS_STBSCBRAND] FOREIGN KEY([BrandId])
REFERENCES [dbo].[SMS_STBSCBRAND] ([Id])
GO
ALTER TABLE [dbo].[SMS_STBS] CHECK CONSTRAINT [FK_SMS_STBS_SMS_STBSCBRAND]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=Active
2=Inactive
3=Faulty
4=BlackListed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_STBS', @level2type=N'COLUMN',@level2name=N'Status'
GO
