USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SUBSIDIARY_MASTER]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SUBSIDIARY_MASTER](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BroadcasterName] [varchar](50) NOT NULL,
	[BroadcasterPrice] [float] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[BroadcasterId] [bigint] NOT NULL,
 CONSTRAINT [PK__SMS_SUBS__3214EC0768DFDCB9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER] ADD  CONSTRAINT [DF__SMS_SUBSI__Broad__6AC8252B]  DEFAULT ((0)) FOR [BroadcasterPrice]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER] ADD  CONSTRAINT [DF__SMS_SUBSI__Statu__6BBC4964]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER] ADD  CONSTRAINT [DF__SMS_SUBSI__Delet__6CB06D9D]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_SMS_SUBSIDIARY_MASTER_SMS_BROADCASTER] FOREIGN KEY([BroadcasterId])
REFERENCES [dbo].[SMS_BROADCASTER] ([ID])
GO
ALTER TABLE [dbo].[SMS_SUBSIDIARY_MASTER] CHECK CONSTRAINT [FK_SMS_SUBSIDIARY_MASTER_SMS_BROADCASTER]
GO
