USE [MNSMS]
GO
/****** Object:  Table [dbo].[perdaywise_count]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perdaywise_count](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Days] [date] NOT NULL,
	[Counts] [bigint] NOT NULL,
	[Createdon] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[perdaywise_count] ON 

INSERT [dbo].[perdaywise_count] ([Id], [Days], [Counts], [Createdon]) VALUES (1, CAST(N'2022-04-01' AS Date), 1213, CAST(N'2022-04-06T16:49:42.217' AS DateTime))
INSERT [dbo].[perdaywise_count] ([Id], [Days], [Counts], [Createdon]) VALUES (3, CAST(N'2022-04-02' AS Date), 1232, CAST(N'2022-04-06T16:50:07.227' AS DateTime))
INSERT [dbo].[perdaywise_count] ([Id], [Days], [Counts], [Createdon]) VALUES (4, CAST(N'2022-04-03' AS Date), 1268, CAST(N'2022-04-06T16:50:24.997' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[perdaywise_count] OFF
GO
