USE [MNSMS]
GO
/****** Object:  Table [dbo].[PRP_BOUQUE_ASSETS_HISTORY]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRP_BOUQUE_ASSETS_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[BouqueId] [bigint] NOT NULL,
	[PackageId] [bigint] NULL,
	[ChannelId] [bigint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[RioCntType] [int] NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_PRP_BOUQUE_ASSETS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE_ASSETS_HISTORY] ON 

INSERT [dbo].[PRP_BOUQUE_ASSETS_HISTORY] ([Id], [FID], [BouqueId], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [RioCntType], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (1, 286, 286, NULL, 494, CAST(N'2023-04-25T15:30:43.220' AS DateTime), 1, NULL, NULL, 0, N'BLANK 94', 1, CAST(N'2023-04-25T15:30:43.233' AS DateTime), 1, 0, 1, N'Inserted')
INSERT [dbo].[PRP_BOUQUE_ASSETS_HISTORY] ([Id], [FID], [BouqueId], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [RioCntType], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (2, 285, 285, NULL, 493, CAST(N'2023-04-25T15:30:43.220' AS DateTime), 1, NULL, NULL, 0, N'BLANK 93', 1, CAST(N'2023-04-25T15:30:43.233' AS DateTime), 1, 0, 1, N'Inserted')
INSERT [dbo].[PRP_BOUQUE_ASSETS_HISTORY] ([Id], [FID], [BouqueId], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [RioCntType], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (3, 284, 284, NULL, 492, CAST(N'2023-04-25T15:30:43.220' AS DateTime), 1, NULL, NULL, 0, N'BLANK 91', 1, CAST(N'2023-04-25T15:30:43.233' AS DateTime), 1, 0, 1, N'Inserted')
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE_ASSETS_HISTORY] OFF
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_ASSETS_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
