USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_B_D_PERDAYCAL]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_B_D_PERDAYCAL](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[IsAlacarte] [int] NOT NULL,
	[TotalActive] [int] NOT NULL,
	[ConnectionId] [bigint] NOT NULL,
	[BillMonthDays] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[PerdayBasis] [float] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ProductName] [varchar](50) NULL,
 CONSTRAINT [PK_SMS_B_D_PERDAYCAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_InvoiceId]  DEFAULT ((0)) FOR [InvoiceId]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_AccountId]  DEFAULT ((0)) FOR [AccountId]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_ProductId]  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_IsAlacarte]  DEFAULT ((0)) FOR [IsAlacarte]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_TotalActive]  DEFAULT ((0)) FOR [TotalActive]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_ConnectionId]  DEFAULT ((0)) FOR [ConnectionId]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_BillMonthDays]  DEFAULT ((0)) FOR [BillMonthDays]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[SMS_B_D_PERDAYCAL] ADD  CONSTRAINT [DF_SMS_B_D_PERDAYCAL_PerdayBasis]  DEFAULT ((0)) FOR [PerdayBasis]
GO
