USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_PAIRING_HISTORY]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_PAIRING_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[SmartCardId] [bigint] NOT NULL,
	[StbId] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[IsLocked] [bit] NOT NULL,
	[LockedOn] [datetime] NULL,
	[LockedFrom] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
	[AllocatedOperatorId] [bigint] NULL,
 CONSTRAINT [PK_SMS_PAIRING_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_PAIRING_HISTORY] ON 

INSERT [dbo].[SMS_PAIRING_HISTORY] ([Id], [FID], [SmartCardId], [StbId], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [AllocatedOperatorId]) VALUES (1, 1, 1, 1, 0, CAST(N'2022-08-08T12:58:38.933' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2022-08-08T12:58:38.940' AS DateTime), 1, 0, 1, N'Inserted', NULL)
INSERT [dbo].[SMS_PAIRING_HISTORY] ([Id], [FID], [SmartCardId], [StbId], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [AllocatedOperatorId]) VALUES (2, 1, 1, 1, 1, CAST(N'2022-08-08T12:58:38.933' AS DateTime), 1, CAST(N'2022-08-08T12:58:44.970' AS DateTime), 1, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2022-08-08T12:58:44.993' AS DateTime), 1, 1, 2, N'Status,', NULL)
INSERT [dbo].[SMS_PAIRING_HISTORY] ([Id], [FID], [SmartCardId], [StbId], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [AllocatedOperatorId]) VALUES (3, 2, 2, 2, 0, CAST(N'2022-08-17T17:47:13.263' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2022-08-17T17:47:13.263' AS DateTime), 1, 0, 1, N'Inserted', NULL)
GO
SET IDENTITY_INSERT [dbo].[SMS_PAIRING_HISTORY] OFF
GO
/****** Object:  Index [_dta_index_SMS_PAIRING_HISTORY_14_1873545858__K2_K1D_K3_4]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_PAIRING_HISTORY_14_1873545858__K2_K1D_K3_4] ON [dbo].[SMS_PAIRING_HISTORY]
(
	[FID] ASC,
	[Id] DESC,
	[SmartCardId] ASC
)
INCLUDE([StbId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_PAIRING_HISTORY_7_1873545858__K10_K4_K2_K3_K5_K6_K7_K8_K9_K11_K12_K13_K14_K1]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_PAIRING_HISTORY_7_1873545858__K10_K4_K2_K3_K5_K6_K7_K8_K9_K11_K12_K13_K14_K1] ON [dbo].[SMS_PAIRING_HISTORY]
(
	[Deleted] ASC,
	[StbId] ASC,
	[FID] ASC,
	[SmartCardId] ASC,
	[Status] ASC,
	[CreatedOn] ASC,
	[CreatedBy] ASC,
	[UpdatedOn] ASC,
	[UpdatedBy] ASC,
	[Remark] ASC,
	[IsLocked] ASC,
	[LockedOn] ASC,
	[LockedFrom] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_PAIRING_HISTORY_7_1873545858__K2_K10_K1_K4_K3_K5_K6_K7_K8_K9_K11_K12_K13_K14]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_PAIRING_HISTORY_7_1873545858__K2_K10_K1_K4_K3_K5_K6_K7_K8_K9_K11_K12_K13_K14] ON [dbo].[SMS_PAIRING_HISTORY]
(
	[FID] ASC,
	[Deleted] ASC,
	[Id] ASC,
	[StbId] ASC,
	[SmartCardId] ASC,
	[Status] ASC,
	[CreatedOn] ASC,
	[CreatedBy] ASC,
	[UpdatedOn] ASC,
	[UpdatedBy] ASC,
	[Remark] ASC,
	[IsLocked] ASC,
	[LockedOn] ASC,
	[LockedFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_PAIRING_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_PAIRING_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
