USE [MNSMS]
GO
/****** Object:  Table [dbo].[CHANNELINSERT]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANNELINSERT](
	[ChannelName] [varchar](1000) NULL,
	[CASCode] [varchar](1000) NULL,
	[SeviceID] [varchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CHANNELINSERT] ([ChannelName], [CASCode], [SeviceID]) VALUES (N'Blank 95', N'272', N'9003362701000110')
INSERT [dbo].[CHANNELINSERT] ([ChannelName], [CASCode], [SeviceID]) VALUES (N'Blank 96', N'273', N'9003362701000111')
INSERT [dbo].[CHANNELINSERT] ([ChannelName], [CASCode], [SeviceID]) VALUES (N'Blank 97', N'274', N'9003362701000112')
GO
