USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_RECONECTIONREQUEST]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_RECONECTIONREQUEST](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[Complaintid] [bigint] NOT NULL,
	[ServiceType] [int] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[RecieptNo] [varchar](150) NOT NULL,
	[RecieptDate] [date] NULL,
	[RecieptAmount] [float] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SLA_RECONECTIONREQUEST] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_RECONECTIONREQUEST]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_RECONECTIONREQUEST] ADD  CONSTRAINT [IX_SLA_RECONECTIONREQUEST] UNIQUE NONCLUSTERED 
(
	[RecieptNo] ASC,
	[AccountId] ASC,
	[ServiceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_RECONECTIONREQUEST] ADD  CONSTRAINT [DF_SLA_RECONECTIONREQUEST_ServiceType]  DEFAULT ((0)) FOR [ServiceType]
GO
ALTER TABLE [dbo].[SLA_RECONECTIONREQUEST] ADD  CONSTRAINT [DF_SLA_RECONECTIONREQUEST_RecieptAmount]  DEFAULT ((0)) FOR [RecieptAmount]
GO
ALTER TABLE [dbo].[SLA_RECONECTIONREQUEST] ADD  CONSTRAINT [DF_SLA_RECONECTIONREQUEST_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_RECONECTIONREQUEST]  WITH CHECK ADD  CONSTRAINT [FK_SLA_RECONECTIONREQUEST_SLA_COMPLAINT] FOREIGN KEY([Complaintid])
REFERENCES [dbo].[SLA_COMPLAINT] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_RECONECTIONREQUEST] CHECK CONSTRAINT [FK_SLA_RECONECTIONREQUEST_SLA_COMPLAINT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Analog
1-Digital
2-Internet' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SLA_RECONECTIONREQUEST', @level2type=N'COLUMN',@level2name=N'ServiceType'
GO
