USE [MNSMS]
GO
/****** Object:  Table [dbo].[t_prp_AcctBouqe]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_prp_AcctBouqe](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[bouqueId] [int] NOT NULL,
	[s_date] [date] NOT NULL,
	[e_date] [date] NOT NULL,
	[IsDemo] [bit] NOT NULL,
	[SessionId] [varchar](250) NOT NULL,
	[AccountId] [varchar](250) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_t_prp_AcctBouqe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_prp_AcctBouqe] ON 

INSERT [dbo].[t_prp_AcctBouqe] ([ID], [bouqueId], [s_date], [e_date], [IsDemo], [SessionId], [AccountId], [CreatedOn]) VALUES (1, 1, CAST(N'2022-08-08' AS Date), CAST(N'2022-09-07' AS Date), 0, N'1659944135', N'1', CAST(N'2022-08-08T13:05:35.523' AS DateTime))
INSERT [dbo].[t_prp_AcctBouqe] ([ID], [bouqueId], [s_date], [e_date], [IsDemo], [SessionId], [AccountId], [CreatedOn]) VALUES (2, 1, CAST(N'2022-08-08' AS Date), CAST(N'2022-09-07' AS Date), 0, N'1659944169', N'1', CAST(N'2022-08-08T13:06:09.690' AS DateTime))
INSERT [dbo].[t_prp_AcctBouqe] ([ID], [bouqueId], [s_date], [e_date], [IsDemo], [SessionId], [AccountId], [CreatedOn]) VALUES (3, 1, CAST(N'2022-08-08' AS Date), CAST(N'2022-09-07' AS Date), 0, N'1659944254', N'1', CAST(N'2022-08-08T13:07:59.173' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[t_prp_AcctBouqe] OFF
GO
ALTER TABLE [dbo].[t_prp_AcctBouqe] ADD  CONSTRAINT [DF_t_prp_AcctBouqe_IsDemo]  DEFAULT ((0)) FOR [IsDemo]
GO
