USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_STBSCBRAND_HISTORY]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_STBSCBRAND_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[BrandTitle] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[BoxType] [bit] NOT NULL,
	[TimeShift] [bit] NOT NULL,
	[Maxlength] [int] NOT NULL,
	[SignificantDigits] [int] NOT NULL,
	[CharAllowed] [tinyint] NOT NULL,
	[FORSMARTCARD] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[CASTYPEID] [bigint] NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_SMS_STBSCBRAND_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_STBSCBRAND_HISTORY] ON 

INSERT [dbo].[SMS_STBSCBRAND_HISTORY] ([Id], [FID], [BrandTitle], [Price], [BoxType], [TimeShift], [Maxlength], [SignificantDigits], [CharAllowed], [FORSMARTCARD], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id], [CASTYPEID], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (1, 1, N'ABV_SMC', 0, 0, 0, 16, 16, 1, 1, 1, CAST(N'2022-08-06T13:04:42.877' AS DateTime), 1, NULL, NULL, 0, NULL, NULL, 1, CAST(N'2022-08-06T13:04:42.883' AS DateTime), 1, 0, 1, N'Inserted')
INSERT [dbo].[SMS_STBSCBRAND_HISTORY] ([Id], [FID], [BrandTitle], [Price], [BoxType], [TimeShift], [Maxlength], [SignificantDigits], [CharAllowed], [FORSMARTCARD], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [sms_id], [CASTYPEID], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (2, 2, N'ABV_STB', 0, 0, 0, 14, 14, 1, 0, 1, CAST(N'2022-08-06T13:06:07.880' AS DateTime), 1, NULL, NULL, 0, NULL, NULL, 1, CAST(N'2022-08-06T13:06:07.880' AS DateTime), 1, 0, 1, N'Inserted')
SET IDENTITY_INSERT [dbo].[SMS_STBSCBRAND_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_STBSCBRAND_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_STBSCBRAND_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
