USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_ENGINEER_DETAILS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_ENGINEER_DETAILS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](150) NOT NULL,
	[Mobile] [varchar](12) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](12) NULL,
	[DesignationId] [bigint] NOT NULL,
	[Description] [varchar](250) NULL,
	[Status] [bit] NOT NULL,
	[LogInId] [varchar](150) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[Deleted] [bit] NOT NULL,
	[sla_id] [bigint] NULL,
 CONSTRAINT [PK_SLA_ENGINEER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SLA_ENGINEER_DETAILS] ON 

INSERT [dbo].[SLA_ENGINEER_DETAILS] ([ID], [NAME], [Mobile], [Email], [PhoneNo], [DesignationId], [Description], [Status], [LogInId], [Password], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sla_id]) VALUES (1, N'Anwar', N'9773157867', N'rajasir@gmail.com', N'', 2, NULL, 1, N'Braja', N'e10adc3949ba59abbe56e057f20f883e', CAST(N'2015-01-21T17:35:03.060' AS DateTime), NULL, 1, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[SLA_ENGINEER_DETAILS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_ENGINEER_DETAILS]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_ENGINEER_DETAILS] ADD  CONSTRAINT [IX_SLA_ENGINEER_DETAILS] UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_ENGINEER_DETAILS_1]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_ENGINEER_DETAILS] ADD  CONSTRAINT [IX_SLA_ENGINEER_DETAILS_1] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_ENGINEER_DETAILS] ADD  CONSTRAINT [DF_SLA_ENGINEER_DETAILS_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_ENGINEER_DETAILS] ADD  CONSTRAINT [DF_SLA_ENGINEER_DETAILS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_ENGINEER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ENGINEER_DETAILS_SLA_ENGINEER_DESIGNATION] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[SLA_ENGINEER_DESIGNATION] ([ID])
GO
ALTER TABLE [dbo].[SLA_ENGINEER_DETAILS] CHECK CONSTRAINT [FK_SLA_ENGINEER_DETAILS_SLA_ENGINEER_DESIGNATION]
GO
