USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SMARTCARDS_HISTORY]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SMARTCARDS_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SmartcardId] [bigint] NOT NULL,
	[SmartcardNo] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[BrandId] [bigint] NOT NULL,
	[UploadLogId] [bigint] NOT NULL,
	[DocExtension] [varchar](6) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[IsLocked] [bit] NOT NULL,
	[LockedOn] [datetime] NULL,
	[LockedFrom] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_SMS_SMARTCARDS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_SMARTCARDS_HISTORY] ON 

INSERT [dbo].[SMS_SMARTCARDS_HISTORY] ([Id], [SmartcardId], [SmartcardNo], [Status], [BrandId], [UploadLogId], [DocExtension], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (1, 1, N'8006064231115323', 1, 1, 0, NULL, CAST(N'2022-08-08T12:58:01.743' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2022-08-08T12:58:01.750' AS DateTime), 1, 0, 1, N'Inserted')
INSERT [dbo].[SMS_SMARTCARDS_HISTORY] ([Id], [SmartcardId], [SmartcardNo], [Status], [BrandId], [UploadLogId], [DocExtension], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (2, 2, N'8006064231081780', 1, 1, 0, NULL, CAST(N'2022-08-17T17:46:34.100' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2022-08-17T17:46:34.100' AS DateTime), 1, 0, 1, N'Inserted')
INSERT [dbo].[SMS_SMARTCARDS_HISTORY] ([Id], [SmartcardId], [SmartcardNo], [Status], [BrandId], [UploadLogId], [DocExtension], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [IsLocked], [LockedOn], [LockedFrom], [sms_id], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (3, 95, N'8006064231079156', 1, 1, 1, NULL, CAST(N'2022-08-29T16:36:24.110' AS DateTime), 1, NULL, NULL, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2022-08-29T16:36:24.120' AS DateTime), 1, 0, 1, N'Inserted')
GO
SET IDENTITY_INSERT [dbo].[SMS_SMARTCARDS_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_SMARTCARDS_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
