USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_OPERATOR_ASSETS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_OPERATOR_ASSETS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OperatorId] [bigint] NOT NULL,
	[BouqueId] [bigint] NULL,
	[Description] [varchar](250) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_OPERATOR_ASSETS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_OPERATOR_ASSETS] ON 

INSERT [dbo].[SMS_OPERATOR_ASSETS] ([Id], [OperatorId], [BouqueId], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (5, 1, 1, N'Credit', CAST(N'2023-04-25T15:36:04.770' AS DateTime), 3, NULL, NULL, 0, NULL)
INSERT [dbo].[SMS_OPERATOR_ASSETS] ([Id], [OperatorId], [BouqueId], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (6, 1, 2, N'Credit', CAST(N'2023-04-25T15:36:04.770' AS DateTime), 3, NULL, NULL, 0, NULL)
INSERT [dbo].[SMS_OPERATOR_ASSETS] ([Id], [OperatorId], [BouqueId], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (7, 1, 3, N'Credit', CAST(N'2023-04-25T15:36:04.770' AS DateTime), 3, NULL, NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[SMS_OPERATOR_ASSETS] OFF
GO
/****** Object:  Index [_dta_index_SMS_OPERATOR_ASSETS_5_1837405765__K5_K2]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_OPERATOR_ASSETS_5_1837405765__K5_K2] ON [dbo].[SMS_OPERATOR_ASSETS]
(
	[BouqueId] ASC,
	[OperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_OPERATOR_ASSETS] ADD  CONSTRAINT [DF_SMS_OPERATOR_ASSETS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_OPERATOR_ASSETS]  WITH CHECK ADD  CONSTRAINT [FK_SMS_OPERATOR_ASSETS_PRP_BOUQUE] FOREIGN KEY([BouqueId])
REFERENCES [dbo].[PRP_BOUQUE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_OPERATOR_ASSETS] CHECK CONSTRAINT [FK_SMS_OPERATOR_ASSETS_PRP_BOUQUE]
GO
