USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_COMPLAINTACCOUNTS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_COMPLAINTACCOUNTS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[ServiceType] [bit] NOT NULL,
	[ComplaintId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SLA_COMPLAINTACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SLA_COMPLAINTACCOUNTS]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_COMPLAINTACCOUNTS] ADD  CONSTRAINT [IX_SLA_COMPLAINTACCOUNTS] UNIQUE NONCLUSTERED 
(
	[ServiceType] ASC,
	[AccountId] ASC,
	[ComplaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTACCOUNTS] ADD  CONSTRAINT [DF_SLA_COMPLAINTACCOUNTS_ServiceType]  DEFAULT ((0)) FOR [ServiceType]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTACCOUNTS] ADD  CONSTRAINT [DF_SLA_COMPLAINTACCOUNTS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_SLA_COMPLAINTACCOUNTS_SLA_COMPLAINT] FOREIGN KEY([ComplaintId])
REFERENCES [dbo].[SLA_COMPLAINT] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_COMPLAINTACCOUNTS] CHECK CONSTRAINT [FK_SLA_COMPLAINTACCOUNTS_SLA_COMPLAINT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Analog
1-Digital' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SLA_COMPLAINTACCOUNTS', @level2type=N'COLUMN',@level2name=N'ServiceType'
GO
