USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_B_D_NEXTINVOICEMONTH]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[HAccountId] [bigint] NOT NULL,
	[NextMonthYear] [date] NOT NULL,
	[BillSmonth] [date] NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[InvoiceMonth] [date] NULL,
	[LastInvoiceId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_B_D_NEXTINVOICEMONTH] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_B_D_NEXTINVOICEMONTH] ON 

INSERT [dbo].[SMS_B_D_NEXTINVOICEMONTH] ([Id], [SubscriberId], [AccountId], [HAccountId], [NextMonthYear], [BillSmonth], [InvoiceId], [InvoiceMonth], [LastInvoiceId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (1, 1, 1, 0, CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01' AS Date), 0, NULL, 0, CAST(N'2022-08-08T13:03:33.393' AS DateTime), 1, NULL, NULL, 0, NULL)
INSERT [dbo].[SMS_B_D_NEXTINVOICEMONTH] ([Id], [SubscriberId], [AccountId], [HAccountId], [NextMonthYear], [BillSmonth], [InvoiceId], [InvoiceMonth], [LastInvoiceId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (2, 1, 2, 0, CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01' AS Date), 0, NULL, 0, CAST(N'2022-08-16T16:17:13.110' AS DateTime), 1, NULL, NULL, 0, NULL)
INSERT [dbo].[SMS_B_D_NEXTINVOICEMONTH] ([Id], [SubscriberId], [AccountId], [HAccountId], [NextMonthYear], [BillSmonth], [InvoiceId], [InvoiceMonth], [LastInvoiceId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark]) VALUES (3, 1, 3, 0, CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01' AS Date), 0, NULL, 0, CAST(N'2022-08-16T16:18:11.253' AS DateTime), 1, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[SMS_B_D_NEXTINVOICEMONTH] OFF
GO
/****** Object:  Index [IX_SMS_B_D_NEXTINVOICEMONTH]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [IX_SMS_B_D_NEXTINVOICEMONTH] UNIQUE NONCLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_SubscriberId]  DEFAULT ((0)) FOR [SubscriberId]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_HAccountId]  DEFAULT ((0)) FOR [HAccountId]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_BillSmonth]  DEFAULT (getdate()) FOR [BillSmonth]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_InvoiceId]  DEFAULT ((0)) FOR [InvoiceId]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_LastInvoiceId]  DEFAULT ((0)) FOR [LastInvoiceId]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SMS_B_D_NEXTINVOICEMONTH] ADD  CONSTRAINT [DF_SMS_B_D_NEXTINVOICEMONTH_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
