USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_ACCESSRIGHTS]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_ACCESSRIGHTS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[AccessId] [bigint] NOT NULL,
	[PRead] [bit] NOT NULL,
	[PWrite] [bit] NOT NULL,
	[PExecute] [bit] NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
 CONSTRAINT [PK_SLATACCESSRIGHTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS] ADD  CONSTRAINT [DF_SLA_ACCESSRIGHTS_PRead]  DEFAULT ((1)) FOR [PRead]
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS] ADD  CONSTRAINT [DF_SLA_ACCESSRIGHTS_PWrite]  DEFAULT ((0)) FOR [PWrite]
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS] ADD  CONSTRAINT [DF_SLA_ACCESSRIGHTS_PExecute]  DEFAULT ((0)) FOR [PExecute]
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ACCESSRIGHTS_SLA_ACCESS] FOREIGN KEY([AccessId])
REFERENCES [dbo].[SLA_ACCESS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS] CHECK CONSTRAINT [FK_SLA_ACCESSRIGHTS_SLA_ACCESS]
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS]  WITH CHECK ADD  CONSTRAINT [FK_SLA_ACCESSRIGHTS_SLA_MENU] FOREIGN KEY([MenuId])
REFERENCES [dbo].[SLA_MENU] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_ACCESSRIGHTS] CHECK CONSTRAINT [FK_SLA_ACCESSRIGHTS_SLA_MENU]
GO
