USE [MNSMS]
GO
/****** Object:  View [dbo].[sms_bl_d_view_area_wise_billtogen]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view[dbo].[sms_bl_d_view_area_wise_billtogen] as
select a.*,b.AREACODE,b.NAME as Area from(
select count(Id) as Billcount,AreaId,NextInvoiceMonth from [sms_b_d_view_nextinvoicemonth] group by AreaId,NextInvoiceMonth) a
left outer join SMS_AREACODE b on a.AreaId=b.ID
GO
