USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_D_ADDTIONALCHARGES]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_D_ADDTIONALCHARGES](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[ReasonId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[IsAdjusted] [bit] NOT NULL,
	[SystemFlag] [bit] NOT NULL,
	[AdjustedOn] [datetime] NULL,
	[InvoiceId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_D_ADDTIONALCHARGES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_D_ADDTIONALCHARGES] ADD  CONSTRAINT [DF_SMS_D_ADDTIONALCHARGES_IsAdjusted]  DEFAULT ((0)) FOR [IsAdjusted]
GO
ALTER TABLE [dbo].[SMS_D_ADDTIONALCHARGES] ADD  CONSTRAINT [DF_SMS_D_ADDTIONALCHARGES_SystemFlag]  DEFAULT ((0)) FOR [SystemFlag]
GO
ALTER TABLE [dbo].[SMS_D_ADDTIONALCHARGES] ADD  CONSTRAINT [DF_SMS_D_ADDTIONALCHARGES_InvoiceAccountId]  DEFAULT ((0)) FOR [InvoiceId]
GO
ALTER TABLE [dbo].[SMS_D_ADDTIONALCHARGES] ADD  CONSTRAINT [DF_SMS_D_ADDTIONALCHARGES_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_D_ADDTIONALCHARGES]  WITH CHECK ADD  CONSTRAINT [FK_SMS_D_ADDTIONALCHARGES_SMS_SUBSCRIBERACCOUNTS] FOREIGN KEY([AccountId])
REFERENCES [dbo].[SMS_SUBSCRIBERACCOUNTS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_D_ADDTIONALCHARGES] CHECK CONSTRAINT [FK_SMS_D_ADDTIONALCHARGES_SMS_SUBSCRIBERACCOUNTS]
GO
