USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_BROADCASTER]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_BROADCASTER](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BROADCASTERNAME] [varchar](100) NOT NULL,
	[BROADCASTERDESC] [varchar](255) NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[STATUS] [varchar](50) NOT NULL,
	[Deleted] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
 CONSTRAINT [PK_SMSTBROADCASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_BROADCASTER] ON 

INSERT [dbo].[SMS_BROADCASTER] ([ID], [BROADCASTERNAME], [BROADCASTERDESC], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [STATUS], [Deleted], [Remark], [sms_id]) VALUES (1, N'OZONE', N'OZONE', CAST(N'2022-09-26T15:39:04.680' AS DateTime), NULL, 1, NULL, N'Active', 0, NULL, NULL)
INSERT [dbo].[SMS_BROADCASTER] ([ID], [BROADCASTERNAME], [BROADCASTERDESC], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [STATUS], [Deleted], [Remark], [sms_id]) VALUES (2, N'SUN TV NETWORK', N'SUN TV NETWORK', CAST(N'2022-09-26T15:39:04.680' AS DateTime), NULL, 3, NULL, N'Active', 0, NULL, NULL)
INSERT [dbo].[SMS_BROADCASTER] ([ID], [BROADCASTERNAME], [BROADCASTERDESC], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [STATUS], [Deleted], [Remark], [sms_id]) VALUES (3, N'Star India Private Limited', N'Star India Private Limited', CAST(N'2022-09-26T15:39:04.680' AS DateTime), NULL, 3, NULL, N'Active', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SMS_BROADCASTER] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_BROADCASTER]    Script Date: 2023-11-10 06:14:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SMS_BROADCASTER] ON [dbo].[SMS_BROADCASTER]
(
	[BROADCASTERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_BROADCASTER] ADD  CONSTRAINT [DF_SMS_BROADCASTER_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
