USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_COMPLAINTENGINEER]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_COMPLAINTENGINEER](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EngineerId] [bigint] NOT NULL,
	[ComplaintId] [bigint] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SLA_COMPLAINTENGINEER_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTENGINEER] ADD  CONSTRAINT [DF_SLA_COMPLAINTENGINEER_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTENGINEER] ADD  CONSTRAINT [DF_SLA_COMPLAINTENGINEER_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTENGINEER]  WITH CHECK ADD  CONSTRAINT [FK_SLA_COMPLAINTENGINEER_SLA_COMPLAINT] FOREIGN KEY([ComplaintId])
REFERENCES [dbo].[SLA_COMPLAINT] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_COMPLAINTENGINEER] CHECK CONSTRAINT [FK_SLA_COMPLAINTENGINEER_SLA_COMPLAINT]
GO
ALTER TABLE [dbo].[SLA_COMPLAINTENGINEER]  WITH CHECK ADD  CONSTRAINT [FK_SLA_COMPLAINTENGINEER_SLA_ENGINEER_DETAILS] FOREIGN KEY([EngineerId])
REFERENCES [dbo].[SLA_ENGINEER_DETAILS] ([ID])
GO
ALTER TABLE [dbo].[SLA_COMPLAINTENGINEER] CHECK CONSTRAINT [FK_SLA_COMPLAINTENGINEER_SLA_ENGINEER_DETAILS]
GO
