USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CAS_CMDS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CAS_CMDS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SmartCardNo] [varchar](220) NOT NULL,
	[SmartCardId] [bigint] NOT NULL,
	[STBNo] [varchar](20) NULL,
	[StbId] [bigint] NOT NULL,
	[SubscriberId] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[CommandId] [bigint] NOT NULL,
	[CommandName] [varchar](50) NOT NULL,
	[Command] [text] NOT NULL,
	[Status] [int] NOT NULL,
	[Response] [text] NULL,
	[Attempts] [int] NOT NULL,
	[Command_Param] [text] NULL,
	[ActivationDate] [date] NULL,
	[DeactivationDate] [date] NULL,
	[PackageIds] [varchar](1150) NULL,
	[AlacarteIds] [varchar](1150) NULL,
	[Remark] [varchar](550) NULL,
	[CommandDate] [datetime] NOT NULL,
	[SendedOn] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[FLAG] [int] NOT NULL,
	[MSG_MAP_ID] [bigint] NOT NULL,
	[Status_msg] [varchar](150) NOT NULL,
	[CASTYPE] [bigint] NOT NULL,
	[LinkIds] [varchar](2000) NULL,
	[LinkCount] [int] NULL,
	[SMSNAME] [varchar](17) NOT NULL,
 CONSTRAINT [PK_SMS_IRDERTO_CMDS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_CAS_CMDS] ON 

GO
SET IDENTITY_INSERT [dbo].[SMS_CAS_CMDS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_SMS_CAS_CMDS_5_1770541441__K11_K1_K27_K15_K9_13_20]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_CAS_CMDS_5_1770541441__K11_K1_K27_K15_K9_13_20] ON [dbo].[SMS_CAS_CMDS]
(
	[Status] ASC,
	[Id] ASC,
	[CASTYPE] ASC,
	[ActivationDate] ASC,
	[CommandName] ASC
)
INCLUDE([Attempts],[CommandDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_SmartCardId]  DEFAULT ((0)) FOR [SmartCardId]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_StbId]  DEFAULT ((0)) FOR [StbId]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_SubscriberId]  DEFAULT ((0)) FOR [SubscriberId]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_AccountId]  DEFAULT ((0)) FOR [AccountId]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_Attempts]  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_IRDERTO_CMDS_CommandDate]  DEFAULT (getdate()) FOR [CommandDate]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_CAS_CMDS_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_CAS_CMDS_FLAG]  DEFAULT ((0)) FOR [FLAG]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_CAS_CMDS_MSG_MAP_ID]  DEFAULT ((0)) FOR [MSG_MAP_ID]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  DEFAULT ('Pending') FOR [Status_msg]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  DEFAULT ((0)) FOR [CASTYPE]
GO
ALTER TABLE [dbo].[SMS_CAS_CMDS] ADD  CONSTRAINT [DF_SMS_CAS_CMDS_SMSNAME]  DEFAULT ('ADRAPREPAID') FOR [SMSNAME]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Pending
1-Sucess
2-Failed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_CAS_CMDS', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-PAITING TEST
1-CAS INTERFACE
2-SUBSCRIPTION
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_CAS_CMDS', @level2type=N'COLUMN',@level2name=N'FLAG'
GO
