USE [MNSMS]
GO
/****** Object:  Table [dbo].[PRP_ACCOUNTTRANSACTION]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRP_ACCOUNTTRANSACTION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[Rate] [float] NOT NULL,
	[Amount] [float] NOT NULL,
	[LCOSharing] [float] NOT NULL,
	[NCFAmount] [float] NOT NULL,
	[NCF_LCOSharing] [float] NOT NULL,
	[BouqueId] [bigint] NULL,
	[Status] [tinyint] NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[DeactivationDate] [date] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[OperatorId] [bigint] NOT NULL,
	[SessionFlag] [bigint] NULL,
	[CASStatus] [tinyint] NOT NULL,
	[IsAutoRenew] [bit] NOT NULL,
 CONSTRAINT [PK_PRP_ACCOUNTTRANSACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRP_ACCOUNTTRANSACTION] ON 

INSERT [dbo].[PRP_ACCOUNTTRANSACTION] ([Id], [AccountId], [Rate], [Amount], [LCOSharing], [NCFAmount], [NCF_LCOSharing], [BouqueId], [Status], [ActivationDate], [DeactivationDate], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [OperatorId], [SessionFlag], [CASStatus], [IsAutoRenew]) VALUES (9, 31, 0, 0, 0, 0, 0, 288, 1, CAST(N'2023-04-26' AS Date), CAST(N'2023-05-26' AS Date), CAST(N'2023-04-26T14:06:38.987' AS DateTime), 3, NULL, NULL, 0, N'prp_d_create_both_account', 1, 1, 1, 0)
INSERT [dbo].[PRP_ACCOUNTTRANSACTION] ([Id], [AccountId], [Rate], [Amount], [LCOSharing], [NCFAmount], [NCF_LCOSharing], [BouqueId], [Status], [ActivationDate], [DeactivationDate], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [OperatorId], [SessionFlag], [CASStatus], [IsAutoRenew]) VALUES (10, 31, 0, 0, 0, 0, 0, 289, 1, CAST(N'2023-04-26' AS Date), CAST(N'2023-05-26' AS Date), CAST(N'2023-04-26T14:06:38.987' AS DateTime), 3, NULL, NULL, 0, N'prp_d_create_both_account', 1, 1, 1, 0)
INSERT [dbo].[PRP_ACCOUNTTRANSACTION] ([Id], [AccountId], [Rate], [Amount], [LCOSharing], [NCFAmount], [NCF_LCOSharing], [BouqueId], [Status], [ActivationDate], [DeactivationDate], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [OperatorId], [SessionFlag], [CASStatus], [IsAutoRenew]) VALUES (11, 31, 0, 0, 0, 0, 0, 290, 1, CAST(N'2023-04-26' AS Date), CAST(N'2023-05-26' AS Date), CAST(N'2023-04-26T14:06:38.987' AS DateTime), 3, NULL, NULL, 0, N'prp_d_create_both_account', 1, 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[PRP_ACCOUNTTRANSACTION] OFF
GO
/****** Object:  Index [<Name of Missing Index, sysname,>]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [<Name of Missing Index, sysname,>] ON [dbo].[PRP_ACCOUNTTRANSACTION]
(
	[Rate] ASC,
	[BouqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_Rate]  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_LCOSharing_1]  DEFAULT ((0)) FOR [LCOSharing]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_NCFAmount_1]  DEFAULT ((0)) FOR [NCFAmount]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_NCF_LCOSharing_1]  DEFAULT ((0)) FOR [NCF_LCOSharing]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_CASStatus]  DEFAULT ((0)) FOR [CASStatus]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_IsAutoRenew]  DEFAULT ((0)) FOR [IsAutoRenew]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_PRP_ACCOUNTTRANSACTION_PRP_ACCOUNTTRANSACTION] FOREIGN KEY([Id])
REFERENCES [dbo].[PRP_ACCOUNTTRANSACTION] ([Id])
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] CHECK CONSTRAINT [FK_PRP_ACCOUNTTRANSACTION_PRP_ACCOUNTTRANSACTION]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_PRP_ACCOUNTTRANSACTION_PRP_BOUQUE] FOREIGN KEY([BouqueId])
REFERENCES [dbo].[PRP_BOUQUE] ([Id])
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] CHECK CONSTRAINT [FK_PRP_ACCOUNTTRANSACTION_PRP_BOUQUE]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_PRP_ACCOUNTTRANSACTION_SMS_SUBSCRIBERACCOUNTS] FOREIGN KEY([AccountId])
REFERENCES [dbo].[SMS_SUBSCRIBERACCOUNTS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] CHECK CONSTRAINT [FK_PRP_ACCOUNTTRANSACTION_SMS_SUBSCRIBERACCOUNTS]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION]  WITH CHECK ADD  CONSTRAINT [prp_accounttransaction_bouqueid_foreign] FOREIGN KEY([BouqueId])
REFERENCES [dbo].[PRP_BOUQUE] ([Id])
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION] CHECK CONSTRAINT [prp_accounttransaction_bouqueid_foreign]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=Active Running
0=Inactive
2-Shuffled
3-Deactivated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRP_ACCOUNTTRANSACTION', @level2type=N'COLUMN',@level2name=N'Status'
GO
