USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_VIRTUAL_WALLET_USER]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_VIRTUAL_WALLET_USER](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TopedUpUserId] [bigint] NOT NULL,
	[TopUpDoneByUserId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[MsoId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_VIRTUAL_WALLET_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_VIRTUAL_WALLET_USER] ADD  CONSTRAINT [DF_SMS_VIRTUAL_WALLET_USER_TopUpDoneByUserId]  DEFAULT ((0)) FOR [TopUpDoneByUserId]
GO
ALTER TABLE [dbo].[SMS_VIRTUAL_WALLET_USER] ADD  CONSTRAINT [DF_SMS_VIRTUAL_WALLET_USER_MsoId]  DEFAULT ((0)) FOR [MsoId]
GO
