USE [MNSMS]
GO
/****** Object:  Table [dbo].[PRP_BOUQUE]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRP_BOUQUE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BouqueCode] [varchar](50) NOT NULL,
	[BouqueName] [varchar](150) NOT NULL,
	[Rate] [float] NOT NULL,
	[LCOSharing] [float] NOT NULL,
	[BType] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[AType] [bit] NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[isRio] [bit] NOT NULL,
	[RIOAlaCarte1Count] [int] NOT NULL,
	[RIOAlaCarte2Count] [int] NOT NULL,
	[PackageTypeId] [int] NULL,
	[MRP] [float] NULL,
 CONSTRAINT [PK_PRP_BOUQUE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE] ON 

INSERT [dbo].[PRP_BOUQUE] ([Id], [BouqueCode], [BouqueName], [Rate], [LCOSharing], [BType], [Status], [AType], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [isRio], [RIOAlaCarte1Count], [RIOAlaCarte2Count], [PackageTypeId], [MRP]) VALUES (1, N'CH209', N'ZEE ACTION', 1, 0, 0, 1, 0, N'Channel AddedZEE ACTION', CAST(N'2023-04-25T15:30:35.173' AS DateTime), 1, CAST(N'2023-10-20T06:29:24.727' AS DateTime), 3, 0, N'209', 0, 0, 0, 3, 0)
INSERT [dbo].[PRP_BOUQUE] ([Id], [BouqueCode], [BouqueName], [Rate], [LCOSharing], [BType], [Status], [AType], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [isRio], [RIOAlaCarte1Count], [RIOAlaCarte2Count], [PackageTypeId], [MRP]) VALUES (2, N'CH210', N'BIG MAGIC', 0.1, 0, 0, 1, 0, N'Channel AddedBIG MAGIC', CAST(N'2023-04-25T15:30:35.173' AS DateTime), 1, CAST(N'2023-06-06T13:28:58.273' AS DateTime), 3, 0, N'210', 0, 0, 0, 3, 0)
INSERT [dbo].[PRP_BOUQUE] ([Id], [BouqueCode], [BouqueName], [Rate], [LCOSharing], [BType], [Status], [AType], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [isRio], [RIOAlaCarte1Count], [RIOAlaCarte2Count], [PackageTypeId], [MRP]) VALUES (3, N'CH211', N'ZEE NEWS', 0, 0, 0, 1, 0, N'Channel AddedZEE NEWS', CAST(N'2023-04-25T15:30:35.173' AS DateTime), 1, NULL, NULL, 0, N'211', 0, 0, 0, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PRP_BOUQUE]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [IX_PRP_BOUQUE] UNIQUE NONCLUSTERED 
(
	[BouqueCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_Rate]  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_LCOSharing_1]  DEFAULT ((0)) FOR [LCOSharing]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_BType]  DEFAULT ((0)) FOR [BType]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_BType1]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_AType]  DEFAULT ((0)) FOR [AType]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_CreatedOn]  DEFAULT ((1)) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF_PRP_BOUQUE_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF__PRP_BOUQU__isRio__63AAEA5A]  DEFAULT ((0)) FOR [isRio]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF__PRP_BOUQU__RIOAl__659332CC]  DEFAULT ((0)) FOR [RIOAlaCarte1Count]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  CONSTRAINT [DF__PRP_BOUQU__RIOAl__66875705]  DEFAULT ((0)) FOR [RIOAlaCarte2Count]
GO
ALTER TABLE [dbo].[PRP_BOUQUE] ADD  DEFAULT ((0)) FOR [MRP]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-SD
1-HD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRP_BOUQUE', @level2type=N'COLUMN',@level2name=N'BType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-SD
1-HD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRP_BOUQUE', @level2type=N'COLUMN',@level2name=N'Status'
GO
