USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SEL_SMC]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SEL_SMC](
	[SmartcardNo] [varchar](50) NOT NULL,
	[CDATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
