USE [MNSMS]
GO
/****** Object:  Table [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[Rate] [float] NOT NULL,
	[Amount] [float] NOT NULL,
	[LCOSharing] [float] NOT NULL,
	[NCFAmount] [float] NOT NULL,
	[NCF_LCOSharing] [float] NOT NULL,
	[BouqueId] [bigint] NULL,
	[Status] [tinyint] NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[DeactivationDate] [date] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[OperatorId] [bigint] NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_PRP_ACCOUNTTRANSACTION_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] ON 

GO
SET IDENTITY_INSERT [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] OFF
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_HISTORY_LCOSharing]  DEFAULT ((0)) FOR [LCOSharing]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_HISTORY_NCFAmount]  DEFAULT ((0)) FOR [NCFAmount]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] ADD  CONSTRAINT [DF_PRP_ACCOUNTTRANSACTION_HISTORY_NCF_LCOSharing]  DEFAULT ((0)) FOR [NCF_LCOSharing]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] ADD  CONSTRAINT [DF__PRP_ACCOU__Inser__734811AF]  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[PRP_ACCOUNTTRANSACTION_HISTORY] ADD  CONSTRAINT [DF__PRP_ACCOU__Previ__743C35E8]  DEFAULT ((0)) FOR [PreviousId]
GO
