USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CHANNELINPACKAGE]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CHANNELINPACKAGE](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PackageId] [bigint] NOT NULL,
	[ChannelId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[BroadcasterPrice] [float] NOT NULL,
	[Remark] [varchar](250) NULL,
	[IsSubPack] [bit] NOT NULL,
 CONSTRAINT [PK_SMS_CHANNELINPACKAGE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_CHANNELINPACKAGE] ON 

INSERT [dbo].[SMS_CHANNELINPACKAGE] ([Id], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [BroadcasterPrice], [Remark], [IsSubPack]) VALUES (1, 1, 438, CAST(N'2023-04-24T19:03:55.327' AS DateTime), 3, NULL, NULL, 0, 0, NULL, 0)
INSERT [dbo].[SMS_CHANNELINPACKAGE] ([Id], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [BroadcasterPrice], [Remark], [IsSubPack]) VALUES (2, 1, 435, CAST(N'2023-04-24T19:03:55.340' AS DateTime), 3, NULL, NULL, 0, 0, NULL, 0)
INSERT [dbo].[SMS_CHANNELINPACKAGE] ([Id], [PackageId], [ChannelId], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [BroadcasterPrice], [Remark], [IsSubPack]) VALUES (3, 1, 437, CAST(N'2023-04-24T19:03:55.350' AS DateTime), 3, NULL, NULL, 0, 0, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[SMS_CHANNELINPACKAGE] OFF
GO
/****** Object:  Index [IX_SMS_CHANNELINPACKAGE]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_CHANNELINPACKAGE] ADD  CONSTRAINT [IX_SMS_CHANNELINPACKAGE] UNIQUE NONCLUSTERED 
(
	[ChannelId] ASC,
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_CHANNELINPACKAGE] ADD  CONSTRAINT [DF_SMS_CHANNELINPACKAGE_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_CHANNELINPACKAGE] ADD  CONSTRAINT [DF_SMS_CHANNELINPACKAGE_BroadcasterPrice]  DEFAULT ((0)) FOR [BroadcasterPrice]
GO
ALTER TABLE [dbo].[SMS_CHANNELINPACKAGE] ADD  DEFAULT ((0)) FOR [IsSubPack]
GO
ALTER TABLE [dbo].[SMS_CHANNELINPACKAGE]  WITH NOCHECK ADD  CONSTRAINT [FK_SMS_CHANNELINPACKAGE_SMS_PACKAGE] FOREIGN KEY([PackageId])
REFERENCES [dbo].[SMS_PACKAGE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_CHANNELINPACKAGE] CHECK CONSTRAINT [FK_SMS_CHANNELINPACKAGE_SMS_PACKAGE]
GO
