USE [MNSMS]
GO
/****** Object:  Table [dbo].[UPLOADED_DATA_TABLE]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPLOADED_DATA_TABLE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FNAME] [varchar](150) NOT NULL,
	[MNAME] [varchar](150) NOT NULL,
	[LNAME] [varchar](150) NOT NULL,
	[GENDER] [varchar](10) NOT NULL,
	[MOBILE] [varchar](50) NOT NULL,
	[OPERATOR] [varchar](150) NOT NULL,
	[AREA] [varchar](150) NOT NULL,
	[SOCIETY] [varchar](150) NOT NULL,
	[ADDRESS] [varchar](4000) NOT NULL,
	[ZIP_CODE] [varchar](15) NOT NULL,
	[CONN_SCH_CODE] [varchar](50) NOT NULL,
	[STB_NO] [varchar](50) NOT NULL,
	[SC_NO] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATUS_REMARK] [varchar](8000) NULL,
	[SESSION_ID] [bigint] NULL,
	[STB_BRAND] [varchar](150) NULL,
	[SMC_BRAND] [varchar](150) NULL,
	[BOUQUETCODE] [varchar](50) NOT NULL,
	[STARTDATE] [varchar](50) NULL,
	[ENDDATE] [varchar](50) NULL,
 CONSTRAINT [PK_UPLOADED_DATA_TABLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UPLOADED_DATA_TABLE] ADD  CONSTRAINT [DF__UPLOADED___STATU__117F9D94]  DEFAULT ((0)) FOR [STATUS]
GO
