USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_USERDESIGNATION]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_USERDESIGNATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Designation] [varchar](150) NOT NULL,
	[DesignationCode] [varchar](50) NOT NULL,
	[ParentId] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[UPDATEDBY] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[Deleted] [bit] NOT NULL,
	[sla_id] [bigint] NULL,
 CONSTRAINT [PK_SMS_DESIGNATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SLA_USERDESIGNATION] ON 

INSERT [dbo].[SLA_USERDESIGNATION] ([ID], [Designation], [DesignationCode], [ParentId], [Status], [CREATEDON], [CREATEDBY], [UPDATEDON], [UPDATEDBY], [Remark], [Deleted], [sla_id]) VALUES (1, N'Manager', N'MNG', 0, 1, CAST(N'2014-07-18T17:48:14.400' AS DateTime), 1, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[SLA_USERDESIGNATION] ([ID], [Designation], [DesignationCode], [ParentId], [Status], [CREATEDON], [CREATEDBY], [UPDATEDON], [UPDATEDBY], [Remark], [Deleted], [sla_id]) VALUES (2, N'TECHNICAL ASSISTANT', N'TA', 1, 1, CAST(N'2014-07-21T22:49:22.470' AS DateTime), 1, NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[SLA_USERDESIGNATION] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_DESIGNATION]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [IX_SLA_DESIGNATION] UNIQUE NONCLUSTERED 
(
	[DesignationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_USERDESIGNATION]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [IX_SLA_USERDESIGNATION] UNIQUE NONCLUSTERED 
(
	[Designation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [DF_SMS_DESIGNATION_Parent_Designation]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [DF_SLA_DESIGNATION_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [DF_SLA_DESIGNATION_CREATEDON]  DEFAULT (getdate()) FOR [CREATEDON]
GO
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [DF_SLA_DESIGNATION_CREATEDBY]  DEFAULT ((-1)) FOR [CREATEDBY]
GO
ALTER TABLE [dbo].[SLA_USERDESIGNATION] ADD  CONSTRAINT [DF_SLA_DESIGNATION_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=>Active 0=>Inactive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SLA_USERDESIGNATION', @level2type=N'COLUMN',@level2name=N'Status'
GO
