USE [MNSMS]
GO
/****** Object:  Table [dbo].[UPLOADED_OPERATOR_TABLE]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPLOADED_OPERATOR_TABLE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentOperatorCode] [varchar](50) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[ContactPersonName] [varchar](50) NOT NULL,
	[MobileNo] [varchar](20) NOT NULL,
	[BranchName] [varchar](60) NOT NULL,
	[LoginId] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
	[STATUS_REMARK] [varchar](8000) NULL,
	[SESSION_ID] [bigint] NULL,
 CONSTRAINT [PK_UPLOADED_OPERATOR_TABLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UPLOADED_OPERATOR_TABLE] ADD  CONSTRAINT [DF_UPLOADED_OPERATOR_TABLE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
