USE [MNSMS]
GO
/****** Object:  Table [dbo].[X_SYSTEM_CONSTANTS]    Script Date: 2023-11-10 06:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_SYSTEM_CONSTANTS](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NAME] [varchar](550) NOT NULL,
	[Description] [varchar](550) NOT NULL,
	[VALUE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_X_SYSTEM_CONSTANTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[X_SYSTEM_CONSTANTS] ON 

INSERT [dbo].[X_SYSTEM_CONSTANTS] ([Id], [NAME], [Description], [VALUE]) VALUES (1, N'PPID', N'Program provider_id,3 byte(e.g.:03 20 03)', N'362701')
INSERT [dbo].[X_SYSTEM_CONSTANTS] ([Id], [NAME], [Description], [VALUE]) VALUES (2, N'INSTALLATIONCALLOG', N'Generate INSTALLATIONCALLOG Call Log', N'0')
INSERT [dbo].[X_SYSTEM_CONSTANTS] ([Id], [NAME], [Description], [VALUE]) VALUES (3, N'G_CAS_VER', N'Gospel Cas Version', N'02')
SET IDENTITY_INSERT [dbo].[X_SYSTEM_CONSTANTS] OFF
GO
