USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_CALLTYPETIME]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_CALLTYPETIME](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SubCallId] [bigint] NOT NULL,
	[DesignationId] [bigint] NOT NULL,
	[Time] [tinyint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SLA_CALLTYPETIME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SLA_CALLTYPETIME]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_CALLTYPETIME] ADD  CONSTRAINT [IX_SLA_CALLTYPETIME] UNIQUE NONCLUSTERED 
(
	[SubCallId] ASC,
	[DesignationId] ASC,
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_CALLTYPETIME] ADD  CONSTRAINT [DF_SLA_CALLTYPETIME_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_CALLTYPETIME]  WITH CHECK ADD  CONSTRAINT [FK_SLA_CALLTYPETIME_SLA_DESIGNATION] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[SLA_USERDESIGNATION] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_CALLTYPETIME] CHECK CONSTRAINT [FK_SLA_CALLTYPETIME_SLA_DESIGNATION]
GO
ALTER TABLE [dbo].[SLA_CALLTYPETIME]  WITH CHECK ADD  CONSTRAINT [FK_SLA_CALLTYPETIME_SLA_SUBCALLTYPE] FOREIGN KEY([SubCallId])
REFERENCES [dbo].[SLA_SUBCALLTYPE] ([ID])
GO
ALTER TABLE [dbo].[SLA_CALLTYPETIME] CHECK CONSTRAINT [FK_SLA_CALLTYPETIME_SLA_SUBCALLTYPE]
GO
