USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_B_D_INVOICE_ADDONCHARGES]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_B_D_INVOICE_ADDONCHARGES](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[TagName] [varchar](150) NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_SMS_B_D_INVOICE_ADDONCHARGES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_B_D_INVOICE_ADDONCHARGES]  WITH CHECK ADD  CONSTRAINT [FK_SMS_B_D_INVOICE_ADDONCHARGES_SMS_B_A_INVOICE] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[SMS_B_D_INVOICE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_B_D_INVOICE_ADDONCHARGES] CHECK CONSTRAINT [FK_SMS_B_D_INVOICE_ADDONCHARGES_SMS_B_A_INVOICE]
GO
