USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_OPERATOR_ASSETS_HISTORY]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_OPERATOR_ASSETS_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[OperatorId] [bigint] NOT NULL,
	[PackageId] [bigint] NULL,
	[AlacarteId] [bigint] NULL,
	[BouqueId] [bigint] NULL,
	[DemoBouqueId] [bigint] NULL,
	[Description] [varchar](250) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
 CONSTRAINT [PK_SMS_OPERATOR_ASSETS_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_OPERATOR_ASSETS_HISTORY] ON 

INSERT [dbo].[SMS_OPERATOR_ASSETS_HISTORY] ([Id], [FID], [OperatorId], [PackageId], [AlacarteId], [BouqueId], [DemoBouqueId], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (1, 1, 1, NULL, NULL, 1, NULL, N'PREPAID', CAST(N'2022-08-08T13:05:20.117' AS DateTime), 1, NULL, NULL, 0, NULL, CAST(N'2022-08-08T13:05:20.127' AS DateTime), 1, 0, 1, N'Inserted')
INSERT [dbo].[SMS_OPERATOR_ASSETS_HISTORY] ([Id], [FID], [OperatorId], [PackageId], [AlacarteId], [BouqueId], [DemoBouqueId], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (2, 2, 1, NULL, NULL, 2, NULL, N'Sonepat', CAST(N'2022-10-07T15:18:56.650' AS DateTime), 3, NULL, NULL, 0, NULL, CAST(N'2022-10-07T15:18:56.650' AS DateTime), 3, 0, 1, N'Inserted')
INSERT [dbo].[SMS_OPERATOR_ASSETS_HISTORY] ([Id], [FID], [OperatorId], [PackageId], [AlacarteId], [BouqueId], [DemoBouqueId], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments]) VALUES (3, 3, 1, NULL, NULL, 3, NULL, N'ICAST TRAI  AUDIT', CAST(N'2022-11-04T12:56:30.970' AS DateTime), 1, NULL, NULL, 0, NULL, CAST(N'2022-11-04T12:56:30.977' AS DateTime), 1, 0, 1, N'Inserted')
GO
SET IDENTITY_INSERT [dbo].[SMS_OPERATOR_ASSETS_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_OPERATOR_ASSETS_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_OPERATOR_ASSETS_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
