USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_SUBCALLTYPE]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_SUBCALLTYPE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[CalltypeId] [bigint] NOT NULL,
	[Description] [varchar](250) NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[sla_id] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DirectEntry] [bit] NOT NULL,
 CONSTRAINT [PK_SMS_CALLTYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SLA_SUBCALLTYPE] ON 

INSERT [dbo].[SLA_SUBCALLTYPE] ([ID], [Title], [Code], [CalltypeId], [Description], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Remark], [sla_id], [Deleted], [IsLocked], [DirectEntry]) VALUES (1, N'NO SIGNAL', N'NS', 2, N'NO SIGNAL', 1, CAST(N'2015-01-21T17:23:18.873' AS DateTime), 1, NULL, NULL, NULL, NULL, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[SLA_SUBCALLTYPE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_SUBCALLTYPE]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] ADD  CONSTRAINT [IX_SLA_SUBCALLTYPE] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_SUBCALLTYPE_1]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] ADD  CONSTRAINT [IX_SLA_SUBCALLTYPE_1] UNIQUE NONCLUSTERED 
(
	[Code] ASC,
	[CalltypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] ADD  CONSTRAINT [DF_SMS_CALLTYPE_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] ADD  CONSTRAINT [DF_SLA_SUBCALLTYPE_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] ADD  CONSTRAINT [DF_SLA_SUBCALLTYPE_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] ADD  CONSTRAINT [DF_SLA_SUBCALLTYPE_DirectEntry]  DEFAULT ((0)) FOR [DirectEntry]
GO
ALTER TABLE [dbo].[SLA_SUBCALLTYPE]  WITH CHECK ADD  CONSTRAINT [FK_SLA_SUBCALLTYPE_SLA_CALLTYPE_MASTER] FOREIGN KEY([CalltypeId])
REFERENCES [dbo].[SLA_CALLTYPE_MASTER] ([ID])
GO
ALTER TABLE [dbo].[SLA_SUBCALLTYPE] CHECK CONSTRAINT [FK_SLA_SUBCALLTYPE_SLA_CALLTYPE_MASTER]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=>Active 0=>Inactive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SLA_SUBCALLTYPE', @level2type=N'COLUMN',@level2name=N'Status'
GO
