USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SCHEMECHARGEMAPING]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SCHEMECHARGEMAPING](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SchemeId] [bigint] NOT NULL,
	[ChargeId] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[Amount2] [float] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
 CONSTRAINT [PK_SMS_SCHEMECHARGEMAPING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_SCHEMECHARGEMAPING]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_SCHEMECHARGEMAPING] ADD  CONSTRAINT [IX_SMS_SCHEMECHARGEMAPING] UNIQUE NONCLUSTERED 
(
	[ChargeId] ASC,
	[SchemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SCHEMECHARGEMAPING] ADD  CONSTRAINT [DF_SMS_SCHEMECHARGEMAPING_Amount2]  DEFAULT ((0)) FOR [Amount2]
GO
ALTER TABLE [dbo].[SMS_SCHEMECHARGEMAPING]  WITH NOCHECK ADD  CONSTRAINT [FK_SMS_SCHEMECHARGEMAPING_SMS_CHARGEMASTER] FOREIGN KEY([ChargeId])
REFERENCES [dbo].[SMS_CHARGEMASTER] ([Id])
GO
ALTER TABLE [dbo].[SMS_SCHEMECHARGEMAPING] CHECK CONSTRAINT [FK_SMS_SCHEMECHARGEMAPING_SMS_CHARGEMASTER]
GO
ALTER TABLE [dbo].[SMS_SCHEMECHARGEMAPING]  WITH CHECK ADD  CONSTRAINT [FK_SMS_SCHEMECHARGEMAPING_SMS_CONNECTIONSCHEME] FOREIGN KEY([SchemeId])
REFERENCES [dbo].[SMS_CONNECTIONSCHEME] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_SCHEMECHARGEMAPING] CHECK CONSTRAINT [FK_SMS_SCHEMECHARGEMAPING_SMS_CONNECTIONSCHEME]
GO
