USE [MNSMS]
GO
/****** Object:  Table [dbo].[PRP_BOUQUE_HISTORY]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRP_BOUQUE_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FID] [bigint] NOT NULL,
	[BouqueCode] [varchar](50) NOT NULL,
	[BouqueName] [varchar](150) NOT NULL,
	[Rate] [float] NOT NULL,
	[BType] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[AType] [bit] NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
	[isRio] [bit] NOT NULL,
	[RIOAlaCarte1Count] [int] NOT NULL,
	[RIOAlaCarte2Count] [int] NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
	[PackageTypeId] [int] NULL,
	[MRP] [float] NULL,
 CONSTRAINT [PK_PRP_BOUQUE_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE_HISTORY] ON 

INSERT [dbo].[PRP_BOUQUE_HISTORY] ([Id], [FID], [BouqueCode], [BouqueName], [Rate], [BType], [Status], [AType], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [isRio], [RIOAlaCarte1Count], [RIOAlaCarte2Count], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [PackageTypeId], [MRP]) VALUES (1, 286, N'CH494', N'BLANK 94', 0, 1, 1, 0, N'Channel AddedBLANK 94', CAST(N'2023-04-25T15:30:35.173' AS DateTime), 1, NULL, NULL, 0, N'494', 0, 0, 0, CAST(N'2023-04-25T15:30:35.190' AS DateTime), 1, 0, 1, N'Inserted', NULL, 0)
INSERT [dbo].[PRP_BOUQUE_HISTORY] ([Id], [FID], [BouqueCode], [BouqueName], [Rate], [BType], [Status], [AType], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [isRio], [RIOAlaCarte1Count], [RIOAlaCarte2Count], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [PackageTypeId], [MRP]) VALUES (2, 285, N'CH493', N'BLANK 93', 0, 1, 1, 0, N'Channel AddedBLANK 93', CAST(N'2023-04-25T15:30:35.173' AS DateTime), 1, NULL, NULL, 0, N'493', 0, 0, 0, CAST(N'2023-04-25T15:30:35.190' AS DateTime), 1, 0, 1, N'Inserted', NULL, 0)
INSERT [dbo].[PRP_BOUQUE_HISTORY] ([Id], [FID], [BouqueCode], [BouqueName], [Rate], [BType], [Status], [AType], [Description], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Deleted], [Remark], [isRio], [RIOAlaCarte1Count], [RIOAlaCarte2Count], [InsertedOn], [InsertedBy], [PreviousId], [DMLAction], [DMLComments], [PackageTypeId], [MRP]) VALUES (3, 284, N'CH492', N'BLANK 91', 0, 1, 1, 0, N'Channel AddedBLANK 91', CAST(N'2023-04-25T15:30:35.173' AS DateTime), 1, NULL, NULL, 0, N'492', 0, 0, 0, CAST(N'2023-04-25T15:30:35.190' AS DateTime), 1, 0, 1, N'Inserted', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[PRP_BOUQUE_HISTORY] OFF
GO
ALTER TABLE [dbo].[PRP_BOUQUE_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
ALTER TABLE [dbo].[PRP_BOUQUE_HISTORY] ADD  DEFAULT ((0)) FOR [MRP]
GO
