USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_CALLTYPE_MASTER]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_CALLTYPE_MASTER](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [char](1) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[Status] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[Deleted] [bit] NOT NULL,
	[sla_id] [bigint] NULL,
 CONSTRAINT [PK_SLA_CALLTYPE_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SLA_CALLTYPE_MASTER] ON 

INSERT [dbo].[SLA_CALLTYPE_MASTER] ([ID], [Code], [Title], [Status], [IsLocked], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sla_id]) VALUES (1, N'R', N'REQUEST', 1, 0, CAST(N'2011-09-29T00:00:00.000' AS DateTime), NULL, -1, NULL, NULL, 0, 1)
INSERT [dbo].[SLA_CALLTYPE_MASTER] ([ID], [Code], [Title], [Status], [IsLocked], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sla_id]) VALUES (2, N'C', N'Complaint', 1, 0, CAST(N'2011-09-29T00:00:00.000' AS DateTime), NULL, -1, NULL, NULL, 0, 2)
INSERT [dbo].[SLA_CALLTYPE_MASTER] ([ID], [Code], [Title], [Status], [IsLocked], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sla_id]) VALUES (3, N'Q', N'Query', 1, 0, CAST(N'2011-09-29T00:00:00.000' AS DateTime), NULL, -1, NULL, NULL, 0, 3)
SET IDENTITY_INSERT [dbo].[SLA_CALLTYPE_MASTER] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_CALLTYPE_MASTER]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_CALLTYPE_MASTER] ADD  CONSTRAINT [IX_SLA_CALLTYPE_MASTER] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_CALLTYPE_MASTER] ADD  CONSTRAINT [DF_SLA_CALLTYPE_MASTER_Status_1]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SLA_CALLTYPE_MASTER] ADD  CONSTRAINT [DF_SLA_CALLTYPE_MASTER_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[SLA_CALLTYPE_MASTER] ADD  CONSTRAINT [DF_SLA_CALLTYPE_MASTER_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=>Active 0=>Inactive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SLA_CALLTYPE_MASTER', @level2type=N'COLUMN',@level2name=N'Status'
GO
