USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_ACCESS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_ACCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[LOGINID] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[USERTYPE] [varchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[OperatorID] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[deleted] [bit] NOT NULL,
	[SLA_id] [bigint] NULL,
 CONSTRAINT [PK_SLATACCESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SLA_ACCESS] ON 

INSERT [dbo].[SLA_ACCESS] ([ID], [NAME], [LOGINID], [PASSWORD], [USERTYPE], [STATUS], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [OperatorID], [Remark], [deleted], [SLA_id]) VALUES (1, N'Admin', N'Admin', N'21232f297a57a5a743894a0e4a801fc3', N'SAdmin', 1, CAST(N'2014-07-18T17:13:14.210' AS DateTime), NULL, 1, NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[SLA_ACCESS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SLA_ACCESS_1]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SLA_ACCESS] ADD  CONSTRAINT [IX_SLA_ACCESS_1] UNIQUE NONCLUSTERED 
(
	[NAME] ASC,
	[OperatorID] ASC,
	[USERTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_ACCESS] ADD  CONSTRAINT [DF_SLA_ACCESS_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[SLA_ACCESS] ADD  CONSTRAINT [DF__SLA_ACCES__delet__2CC95C04]  DEFAULT ((0)) FOR [deleted]
GO
