USE [MNSMS]
GO
/****** Object:  Table [dbo].[SLA_PROSPETSUBSCRIBERS_DETAILS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLA_PROSPETSUBSCRIBERS_DETAILS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProspectId] [bigint] NOT NULL,
	[FName] [varchar](100) NOT NULL,
	[LName] [varchar](100) NOT NULL,
	[Mname] [varchar](100) NULL,
	[FlatNo] [varchar](100) NULL,
	[FloorNo] [varchar](100) NULL,
	[Wing] [varchar](100) NULL,
	[Building] [varchar](100) NULL,
	[Address] [varchar](250) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Zipcode] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](100) NULL,
	[DOB] [date] NULL,
	[OCCUPATION] [varchar](150) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SLA_PROSPETSUBSCRIBERS_DETAILS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLA_PROSPETSUBSCRIBERS_DETAILS] ADD  CONSTRAINT [DF_SLA_PROSPETSUBSCRIBERS_DETAILS_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SLA_PROSPETSUBSCRIBERS_DETAILS] ADD  CONSTRAINT [DF_SLA_PROSPETSUBSCRIBERS_DETAILS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SLA_PROSPETSUBSCRIBERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SLA_PROSPETSUBSCRIBERS_DETAILS_SLA_PROSPETSUBSCRIBERS] FOREIGN KEY([ProspectId])
REFERENCES [dbo].[SLA_PROSPETSUBSCRIBERS] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLA_PROSPETSUBSCRIBERS_DETAILS] CHECK CONSTRAINT [FK_SLA_PROSPETSUBSCRIBERS_DETAILS_SLA_PROSPETSUBSCRIBERS]
GO
