USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AdvanceId] [bigint] NOT NULL,
	[BAmount] [float] NOT NULL,
	[AmountAdjusted] [float] NOT NULL,
	[AdjustmentType] [tinyint] NOT NULL,
	[ReferenceId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_SMS_ADVANCEPAYMENT_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS] ADD  CONSTRAINT [DF_Table1_SubscriberId]  DEFAULT ((0)) FOR [AdvanceId]
GO
ALTER TABLE [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS] ADD  CONSTRAINT [DF_SMS_ADVANCEPAYMENT_TRANSACTIONS_AdjustmentType]  DEFAULT ((1)) FOR [AdjustmentType]
GO
ALTER TABLE [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS] ADD  CONSTRAINT [DF_SMS_ADVANCEPAYMENT_TRANSACTIONS_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SMS_ADVANCEPAYMENT_TRANSACTIONS_SMS_ADVANCEPAYMENTS] FOREIGN KEY([AdvanceId])
REFERENCES [dbo].[SMS_ADVANCEPAYMENTS] ([Id])
GO
ALTER TABLE [dbo].[SMS_ADVANCEPAYMENT_TRANSACTIONS] CHECK CONSTRAINT [FK_SMS_ADVANCEPAYMENT_TRANSACTIONS_SMS_ADVANCEPAYMENTS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Adjusted in INVOICE ''See RefrenceId for InvoiceId''
2-Transfered To Digital Other Accounts ''See RefrenceId for Digital AccountId''
3-Refunded back ''See Remark for Details''

' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SMS_ADVANCEPAYMENT_TRANSACTIONS', @level2type=N'COLUMN',@level2name=N'AdjustmentType'
GO
