USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_AREACODE]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_AREACODE](
	[ID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AREACODE] [varchar](50) NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[OperatorId] [bigint] NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[Remark] [varchar](250) NULL,
	[Deleted] [bit] NOT NULL,
	[sms_id] [bigint] NULL,
	[AREACASCODE] [int] NOT NULL,
 CONSTRAINT [PK_SMSTAREACODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_AREACODE] ON 

INSERT [dbo].[SMS_AREACODE] ([ID], [AREACODE], [NAME], [Status], [OperatorId], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sms_id], [AREACASCODE]) VALUES (1, N'OZ001', N'OZONE', N'Active', 1, CAST(N'2022-08-06T13:03:54.703' AS DateTime), CAST(N'2023-08-22T12:30:16.170' AS DateTime), 1, 3, NULL, 0, NULL, 1)
INSERT [dbo].[SMS_AREACODE] ([ID], [AREACODE], [NAME], [Status], [OperatorId], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sms_id], [AREACASCODE]) VALUES (2, N'OZP001', N'FARIDABAD', N'Active', 2, CAST(N'2023-06-06T14:07:22.667' AS DateTime), NULL, 3, NULL, NULL, 0, NULL, 2)
INSERT [dbo].[SMS_AREACODE] ([ID], [AREACODE], [NAME], [Status], [OperatorId], [CREATEDON], [UPDATEDON], [CREATEDBY], [UPDATEDBY], [Remark], [Deleted], [sms_id], [AREACASCODE]) VALUES (3, N'OZP002', N'PARK ELITE', N'Active', 2, CAST(N'2023-08-21T13:46:54.473' AS DateTime), CAST(N'2023-08-21T14:11:08.697' AS DateTime), 3, 3, NULL, 0, NULL, 3)
SET IDENTITY_INSERT [dbo].[SMS_AREACODE] OFF
GO
/****** Object:  Index [_dta_index_SMS_AREACODE_11_496772877__K5_K1_2_3]    Script Date: 2023-11-10 06:14:02 ******/
CREATE NONCLUSTERED INDEX [_dta_index_SMS_AREACODE_11_496772877__K5_K1_2_3] ON [dbo].[SMS_AREACODE]
(
	[OperatorId] ASC,
	[ID] ASC
)
INCLUDE([AREACODE],[NAME]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SMS_AREACODE_1]    Script Date: 2023-11-10 06:14:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SMS_AREACODE_1] ON [dbo].[SMS_AREACODE]
(
	[AREACODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_AREACODE] ADD  CONSTRAINT [DF_SMS_AREACODE_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[SMS_AREACODE] ADD  CONSTRAINT [DF__SMS_AREAC__delet__2610A626]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_AREACODE] ADD  CONSTRAINT [DF_SMS_AREACODE_AREACASCODE]  DEFAULT ((0)) FOR [AREACASCODE]
GO
