USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_BRD_ALL_ACTIVE]    Script Date: 2023-11-10 06:13:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_BRD_ALL_ACTIVE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RepMonth] [date] NOT NULL,
	[Opening] [int] NOT NULL,
	[Closing] [int] NOT NULL,
	[Average] [int] NOT NULL,
	[HdClosing] [int] NOT NULL,
	[CREATEDON] [datetime] NOT NULL,
	[UPDATEDON] [datetime] NULL,
	[CREATEDBY] [bigint] NOT NULL,
	[UPDATEDBY] [bigint] NULL,
	[Deleted] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_BRD_ALL_ACTIVE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_BRD_ALL_ACTIVE] ADD  CONSTRAINT [DF_SMS_BRD_ALL_ACTIVE_HdClosing]  DEFAULT ((0)) FOR [HdClosing]
GO
ALTER TABLE [dbo].[SMS_BRD_ALL_ACTIVE] ADD  CONSTRAINT [DF_SMS_BRD_ALL_ACTIVE_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
