USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CHANNEL_HISTORY]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CHANNEL_HISTORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[fid] [bigint] NOT NULL,
	[ChannelName] [varchar](150) NOT NULL,
	[CasCodeGospel] [int] NOT NULL,
	[CasCode] [int] NOT NULL,
	[LogoExt] [varchar](6) NOT NULL,
	[Price] [float] NOT NULL,
	[Price2] [float] NOT NULL,
	[BillingCycle] [int] NOT NULL,
	[BroadcasterId] [bigint] NOT NULL,
	[BRate] [float] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[ChannelType] [bit] NOT NULL,
	[IsAlacarte] [bit] NOT NULL,
	[Description] [varchar](250) NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Deleted] [bigint] NOT NULL,
	[Remark] [varchar](250) NULL,
	[sms_id] [bigint] NULL,
	[TSIDGospel] [varchar](50) NULL,
	[TSID] [varchar](50) NULL,
	[CasCodeTelelynx] [varchar](50) NULL,
	[PcrId] [varchar](20) NULL,
	[ComponentPidAudio] [varchar](20) NULL,
	[ComponentPidVideo] [varchar](20) NULL,
	[SymbolRate] [varchar](20) NULL,
	[EcmPidAudio] [varchar](20) NULL,
	[EcmPidVideo] [varchar](20) NULL,
	[QAM] [varchar](20) NULL,
	[Serviceid] [varchar](20) NULL,
	[Frequency] [varchar](20) NULL,
	[CasCodeNSTV] [varchar](50) NULL,
	[CasCodeKingvon] [varchar](50) NULL,
	[InsertedOn] [datetime] NOT NULL,
	[InsertedBy] [bigint] NOT NULL,
	[PreviousId] [bigint] NOT NULL,
	[DMLAction] [tinyint] NOT NULL,
	[DMLComments] [varchar](8000) NULL,
	[CasCodeCatVision] [varchar](50) NULL,
	[CasCodeBCas] [varchar](50) NULL,
	[LCNNO] [varchar](20) NULL,
 CONSTRAINT [PK_sms_channel_HISTORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_CHANNEL_HISTORY] ON 

GO
SET IDENTITY_INSERT [dbo].[SMS_CHANNEL_HISTORY] OFF
GO
ALTER TABLE [dbo].[SMS_CHANNEL_HISTORY] ADD  DEFAULT (getdate()) FOR [InsertedOn]
GO
ALTER TABLE [dbo].[SMS_CHANNEL_HISTORY] ADD  DEFAULT ((0)) FOR [PreviousId]
GO
ALTER TABLE [dbo].[SMS_CHANNEL_HISTORY] ADD  DEFAULT (NULL) FOR [CasCodeBCas]
GO
