USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_SCHEME_BRANDMAPPING]    Script Date: 2023-11-10 06:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_SCHEME_BRANDMAPPING](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SchemeId] [bigint] NOT NULL,
	[BrandId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[Deleted] [bit] NOT NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_SMS_SCHEME_BRANDMAPPING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SMS_SCHEME_BRANDMAPPING]    Script Date: 2023-11-10 06:14:02 ******/
ALTER TABLE [dbo].[SMS_SCHEME_BRANDMAPPING] ADD  CONSTRAINT [IX_SMS_SCHEME_BRANDMAPPING] UNIQUE NONCLUSTERED 
(
	[SchemeId] ASC,
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMS_SCHEME_BRANDMAPPING] ADD  CONSTRAINT [DF_SMS_SCHEME_BRANDMAPPING_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SMS_SCHEME_BRANDMAPPING]  WITH CHECK ADD  CONSTRAINT [FK_SMS_SCHEME_BRANDMAPPING_SMS_CONNECTIONSCHEME] FOREIGN KEY([SchemeId])
REFERENCES [dbo].[SMS_CONNECTIONSCHEME] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SMS_SCHEME_BRANDMAPPING] CHECK CONSTRAINT [FK_SMS_SCHEME_BRANDMAPPING_SMS_CONNECTIONSCHEME]
GO
ALTER TABLE [dbo].[SMS_SCHEME_BRANDMAPPING]  WITH CHECK ADD  CONSTRAINT [FK_SMS_SCHEME_BRANDMAPPING_SMS_STBSCBRAND] FOREIGN KEY([BrandId])
REFERENCES [dbo].[SMS_STBSCBRAND] ([Id])
GO
ALTER TABLE [dbo].[SMS_SCHEME_BRANDMAPPING] CHECK CONSTRAINT [FK_SMS_SCHEME_BRANDMAPPING_SMS_STBSCBRAND]
GO
