USE [MNSMS]
GO
/****** Object:  Table [dbo].[SMS_CAS_TABLE]    Script Date: 2023-11-10 06:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_CAS_TABLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CASNAME] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_SMS_CAS_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMS_CAS_TABLE] ON 

INSERT [dbo].[SMS_CAS_TABLE] ([ID], [CASNAME], [Status]) VALUES (1, N'ABV', 1)
INSERT [dbo].[SMS_CAS_TABLE] ([ID], [CASNAME], [Status]) VALUES (2, N'GOSPEL', 0)
INSERT [dbo].[SMS_CAS_TABLE] ([ID], [CASNAME], [Status]) VALUES (3, N'NSTV', 0)
SET IDENTITY_INSERT [dbo].[SMS_CAS_TABLE] OFF
GO
ALTER TABLE [dbo].[SMS_CAS_TABLE] ADD  DEFAULT ((0)) FOR [Status]
GO
